[2012-09-19 10:02] viniciuscb opened #1 "model.save success callback not working"
the following code

[code]

does not call the success callback when using AssociatedModel.

[2012-09-19 18:32] jdkanani commented on #1
Can you please add/edit your code snippet in fiddle?
Check this out - http://jsfiddle.net/jdkanani/L8mQj/

[2012-09-20 18:09] #1 closed, assigned to jdkanani

[2012-09-30 13:24] bernii opened #3 "Visited flag on model results in wrong toJSON method output on collection events"
Here is a sample code reproducing the issue:

http://jsfiddle.net/LHfu4/

After simple fix:

http://jsfiddle.net/xVE5G/

[2012-09-30 17:56] jdkanani commented on #3
Thanks !!! I have added test case and merged with master 6226ce2eb8fd312404febbe4f28428a709fb8272 .

[2012-09-30 17:56] #3 closed, assigned to jdkanani

[2012-09-30 18:02] bernii commented on #3
Thanks! Really great work BTW!

[2012-10-22 14:40] donnut opened #6 "generating models/collections with fetch()"
Suppose there are three models; app, panel and master. app hasOne panel and panel hasMany masters. A server call with fetch returns

[code]

How can I create a app instance, a panel instance and two master instances?
In the test file I noticed it can be done with the 'company' test, but I can not get the third level (= masters) instanciated. Should I write a dedicated parse function?

[2012-10-22 15:25] jdkanani commented on #6
No need to write parse function.
You always write like -

[code]

And, by comparing your scenario with test cases -
`Employee` works for `Department` which has many `Project` and `Location`.

[2012-10-22 15:25] #6 closed, assigned to jdkanani

[2012-10-23 07:45] donnut commented on #6
Thanks,
This is what I tried, except I had additionally defined MasterCollection and specified it as collectionType in Panel. Thus:

[code]

and in Panel:

[code]

This results in an error:

[code]

When the collectionType is replaced by the string 'MasterCollection' it give the error

[code]

When collectionType is removed from Panel, it seems to work fine.
What am I doing wrong here?

[2012-10-23 11:23] jdkanani commented on #6
It is working for me with `MasterCollection`. It looks like - `MasterCollection` is in different scope then the scope in which you are using.

[2012-10-23 11:34] donnut opened #7 "examples"
Tried to run the example in the README file. I run into a few issues.

First, Employee must be specified globally (in the window namespace) otherwise eval(relatedModel) in line 144 fails.

The key 'manager' (mind the typo) in the defaults section of Employee must be set null. If it is set to {}, as in the example, javascript goes wild and results in 'too much recursion'

The statement:

[code]

fa

[2012-10-23 11:42] donnut commented on #6
I've created a gist at git://gist.github.com/3938319.git
If the collectionType is activated (is now commented out), the error occurs

[2012-10-23 11:44] donnut commented on #6
Sorry, I meant https://gist.github.com/3938319

[2012-10-23 13:13] jdkanani commented on #6
Yes, that is fine.

Always define `Model` before `Collection`, otherwise `model` property in `Collection` will be `undefined`.
It is true for `Backbone.Model` and `Backbone.Collection` also -

[code]

Now, second thing -

[code]

is not the same scope as

[code]

define your `Model` in window scope or define namespace.

For working gist, check this out- https://gist.github.com/3938577

[2012-10-23 13:37] jdkanani commented on #7
Here is a caution that one should keep in mind while using cyclic object.
by making, `manager` to {} in `Employee` in default, we are actually saying - `Employee` will have default `Employee` as `manager` - which creates a cycle that is enough to make JavaScript crash.

`new Employee()` with `"manager" :  {}`  will try to create -

[code]

[2012-10-23 13:38] jdkanani commented on #7
And of course, you need to create object before bind any events to it.

[2012-10-23 14:24] donnut commented on #6
Great, thanks.

[2012-10-23 14:30] donnut commented on #7
Ok, so the example 'Specifying One-to-One Relationship' should be:

[code]

right?

[2012-10-23 15:03] jdkanani commented on #7
Yes. That's right.

[2012-10-23 15:04] #7 closed, assigned to jdkanani

[2012-10-28 13:25] serhiikushch opened #10 "reverse relation"
how can i get reverse relation like one that's in backbone-relational?

[2012-10-28 18:32] crk4 opened #11 "Throws error with fetch"
I am getting an error while calling fetch() on a model. the response json from server exactly matches the model definitions. i cant figure out what i am missing...

Versions:

Backbone: 0.9.2

Backbone-associations: 0.2.0

TypeError: this.attributes[relationKey].off is not a function this.attributes[relationKey].off("all");

//this is the code i am using..

var ProductVariation = Backbone.Associat

[2012-10-28 19:22] crk4 commented on #11
oops its my mistake... actually i was using a old version of a backbonejs, but thinking that i am using the latest.. which doesnt have a off and on methods on a collection instead they use bind and unbind respectively... replacing the old one with new one is the fix...

[2012-10-28 19:22] #11 closed, assigned to dhruvaray

[2012-10-29 05:16] jdkanani commented on #10
One can achieve reverse relation by creating relations like -

[code]

[2012-10-29 05:16] #10 closed, assigned to jdkanani

[2012-10-29 16:27] donnut opened #13 "triggering change events for associated models with fetch()"
I've a simplified model with three levels of 1-to-many relations: webapp, panel and master.
Using a server call (mocked in the example) I'm successfully able to load and instantiate the models.

The main view is instantiated before the fetch and associated with the main model (webapp). All other views are instantiated and associated in the parent views.

The example is here: https://gist.github.co

[2012-10-29 19:28] jdkanani commented on #13
`change:panel` is triggered only if reference of object has changed.
As `panel` is a collection so you can bind your events accordingly -

Check this out - https://gist.github.com/3974610#gistcomment-591058

[2012-10-29 19:28] #13 closed, assigned to jdkanani

[2012-10-30 09:19] donnut commented on #13
Thanks for the comprehensive answer. Unfortunately, only the webappView and panelView are rendered. For some reason the panel associated with master does not receive a reset event:

[code]

render_master is never called.

I've added an extra event to PanelView:

[code]

When adding a master object:

[code]

render_one_master() is called.
This means that the events are properly connected to the mas

[2012-10-30 10:57] jdkanani commented on #13
`initialize` of `PanelView` will bind `reset` on `master` after data (which you are fetching) set to model.

[2012-10-30 12:26] donnut commented on #13
Yes, so you mean that the `reset` event of `master` is not triggered because it is set after the data is fetched? What is your suggestion to solve this? Should I trigger a `reset` on `master` manually? I've tried:

`webapp.get('panel').reset()` and `webapp.get('panel').at(0).get('master').reset()`

but that doesn't have any effect. Any thoughts?

[2012-10-30 15:38] jdkanani commented on #13
You can always use `masterCollection.trigger("reset")` explicitly or execute`render_master` from `PanelView` render.

[2012-11-17 06:40] romanenko opened #14 ""change:'child_model'" event not firing"
Hello. I'm using your great backbone-relations implementation in a project with a music player, which can play musical albums with tracks.

I have a Player model with a child album:

[code]

And in AlbumView I create a new player instance if no any, or update album attribute with a new album:

[code]

When a new album cover is clicked console shows a message with a new album title, but `"change:al

[2012-11-24 17:56] dhruvaray commented on #14
Great to hear that the library is useful for your work! This bug is now fixed on the latest. We also have now introduced fully qualified paths in the event names... The documentation will be updated soon to reflect the new changes.

[2012-11-24 17:56] #14 closed, assigned to dhruvaray

[2012-12-09 21:56] christophermina opened #17 "Saving child of Model in Collection result in improper overwrite on return"
I have a collection of models, each model has a one-to-one mapping with a child.

An editor is used to modify the child object and save it, upon success, the _byID property on the collection gets modified such that the child becomes the collection object, instead of remaining on as a child.

For instance - in pseudo code

[code]

Upon inspection, the raw collection is in tact (collection.models),

[2012-12-10 09:52] jdkanani commented on #17
I don't know if I understood you correctly but I think latest `master` branch has fix for the same you are looking for. (It should be v0.2.0 you are working on) - it was the problem with same `PropertyName` in nested models.
So, change  in `child`'s property `x` made `parent`confused by triggering `change:x` event on `parent` object (by bubbling up events).

`change:id` event bubbles up to top of

[2012-12-26 13:50] #17 closed, assigned to jdkanani

[2013-01-17 08:37] allenwyma opened #18 "Backbone.AssociatedModel not populating"
I came over from Backbone-relational, because I thought it was broken, but this also seems to not be working correctly.

I have a key in my model, 'jobs' and when I use model.get('jobs') it is coming in as undefined. Strange thing is that IT DOES have this when I use console.log(model.attributes). I can see it has a jobs array, but it doesn't seem to parse it correctly. I'm using coffeescript:

[c

[2013-01-17 09:42] jdkanani commented on #18
No. You don't need to make a collection. I am unable to reproduce your problem. See this [fiddle](http://jsfiddle.net/jdkanani/LkmMY/). `model.get('jobs')` comes fine.. I have written this on backbone v0.9.10 and backbone-associations (edge version). But it should also work on previous versions.

[2013-01-17 09:45] allenwyma commented on #18
Actually, can go ahead and close this. Turns out my server was returning a 2 dimmensional array. I had to correct server side for it to work. Thanks for your help, though. Just to clarify, I can use extends with Coffeescript and don't need to call setup() at the end of my model like Backbone-relational?

[2013-01-17 09:45] #18 closed, assigned to jdkanani

[2013-01-21 13:58] alexleandrom opened #19 "undefined attributes"
Hi,

I m trying to add some object to an attribute which has Backbone.Many association. But how the attribute is undefined I cant call for add. How can I solve this?

[2013-01-21 16:06] dhruvaray commented on #19
If I understood you correctly, you can define an empty collection at definition time. Or you can instantiate it on the fly...From the examples

[code]

You can see more examples @ test/associated-model.js

[2013-01-21 19:49] alexleandrom commented on #19
Thanks I find the problem, my other association entity was not extend to AssociatedModel

[2013-01-21 22:36] #19 closed, assigned to dhruvaray

[2013-01-23 04:57] cebartling opened #20 "Issue using Backbone.AssociatedModel with CoffeeScript 'extends' keyword"
Tried to use this framework using the standard way of extending in CoffeeScript:

[code]

When I started to use the new models in some Jasmine tests, I received all sorts of errors.

When I use the form:

[code]

This form seems to work.  Is there something happening the extend function that isn't getting called when using CoffeeScript class extension?

[2013-01-24 06:59] dhruvaray commented on #18
I have not really worked on coffeescript. But no - you don't need to call setup. There is no such API in backbone-associations. See my quick and dirty coffeescript [fiddle](http://jsfiddle.net/dhruvaray/scb4T/) using `AssociatedModel`s

[2013-01-24 07:17] dhruvaray commented on #20
I haven't really worked in coffeescript. But I picked up some coffeescript syntax since the issue you filed yesterday. Here is a [jsfiddle](http://jsfiddle.net/dhruvaray/scb4T/) which shows backbone-associations working with coffeescript.

[2013-01-24 07:37] dhruvaray commented on #20
It works with jasmine as well. I have forked the try-jasmine repository to add backbone-association dependencies. Clone this [repository](https://github.com/dhruvaray/try-jasmine). After cloning, on your local machine, open up /public/index.html in a browser.

Paste this coffeescript code in the source window.

[code]

Paste this in the specs window.

[code]

You will see the specs passing.

![jas

[2013-01-24 11:00] dhruvaray commented on #20
I made it a bit easier for you to experiment without downloading/installing anything. Go to this [link](http://dhruvaray.github.com/try-jasmine/public/index.html) and copy the code snippets from the earlier comment to see backbone-associations working with Jasmine

[2013-01-24 11:00] #20 closed, assigned to dhruvaray

[2013-01-25 03:10] exceedhl opened #21 "AMD support and bower registry"
Hi,

Could you add AMD support and register it in the bower repository? It would be very handy for web developers.

[2013-01-25 03:11] exceedhl opened #22 "npm package does not have " "backbone.associations"?"
Trying to npm install backbone.associations, but got this:

npm http GET https://registry.npmjs.org/backbone.associations
npm http 404 https://registry.npmjs.org/backbone.associations
npm ERR! 404 'backbone.associations' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, or h

[2013-01-25 11:00] dhruvaray commented on #22
Added in [npm](https://npmjs.org/package/backbone-associations)...

[2013-01-25 11:00] #22 closed, assigned to dhruvaray

[2013-01-25 14:52] dhruvaray commented on #21
Now registered in bower registry...

[2013-01-31 06:14] allenwyma opened #23 "Support for Polymorphic Associate"
I need to use a polymorphic associate, is there a way to do this?

[2013-01-31 13:21] dhruvaray commented on #23
Can you elaborate on what you are looking for? Preferably with some pseudo code.

[2013-01-31 14:10] allenwyma commented on #23
Yes, actually I have a class of Job that belongs to either a Department or Company. It has a rails backend, so polymorphic associations work by adding a _id and _type fields. In this case it's organizable_id and organizable_type. If the organizable_type == "Company", then it's a Company model and the organizable_id would be the ID of the model inside of the companies table; vice versa for Departme

[2013-02-01 07:29] dhruvaray commented on #23
If we assume for a moment that we don't have the problem of mapping object/associations to a relational structure (that's my first cut read of polymorphic associations at the Ruby layer), then at the JavaScript layer, you could probably get what you want like [this](http://jsfiddle.net/dhruvaray/9vxa8/). If it is really useful, we could easily add a `parents` property to any AssociatedModel which

[2013-02-01 07:48] allenwyma commented on #23
Yeah, that part is very easy to do, but I'm usually going from the job to the organizable (Company or Department). So I pull a bunch of users, they have a key of jobs, the jobs is an array of Job objects, and the job will belong to a Company or Department. So, doing the way you told me is easy, but going the other way around is a bit more difficult.

[2013-02-01 13:05] dhruvaray commented on #23
Yes, It is. We effectively want to say that the `relatedModel` is a trait/mixin but can actually contain any object (not necessarily related via inheritance) which has that trait. I'll think on how to achieve this.

[2013-02-01 15:57] rottmann opened #24 "Fetch in nested models possible?"
I create a model that has 2 nested models. The nested models fetch data from different applications.
Must parent model override / extend "fetch" to execute the nested "fetch" method ?

[2013-02-02 05:50] jdkanani commented on #24
Yes. You need to override `fetch` for that parent model.

[2013-02-02 11:26] rottmann commented on #24
Ok, thank you.

[2013-02-02 11:26] #24 closed, assigned to jdkanani

[2013-02-06 19:58] ralfthewise opened #25 "Incorrect logic when determining index of model in associated collection"
The following logic appears to be wrong in the _bubbleEvent method (~line 189):

[code]

I will submit a pull request with what I believe is the correct logic and a unit test demonstrating the issue.

[2013-02-07 03:23] jdkanani commented on #25
Merged pull request #26 for this issue.

[2013-02-07 03:23] #25 closed, assigned to jdkanani

[2013-02-07 16:49] cameronmaske opened #27 "Cannot read property '_bubbleEvent' of undefined"
Hi,
I have been getting the following error when fetching new models with a Backbone.One relation.

Uncaught TypeError: Cannot read property '_bubbleEvent' of undefined
 backbone-associations.js:161

I am on version 0.4.1.

I am not really sure what is causing this. How can I help to debug the problem further?

[2013-02-08 08:44] jdkanani commented on #27
Can you please provide your example code on fiddle?

[2013-02-08 09:39] cameronmaske commented on #27
Hey jdkanani, I found the problem was called by a Collection's comparator function retuning an undefined variable. I think this fault was caused on my side rather then from anything backbone associations did. Would you still like me to provide a code example?

[2013-02-08 09:53] jdkanani commented on #27
Thanks @cameronmaske. And yes, it would be great if you can provide an example.

[2013-02-08 10:20] dhruvaray commented on #27
@cameronmaske, you can pick up a wealth of examples from the [tests](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js)...

[2013-02-09 02:27] #27 closed, assigned to jdkanani

[2013-03-13 08:58] cnlevy opened #28 "global 'change' doesn't work"
it is important to note that you can't listen to associated model  changes just by having
this.on('change', callback);
You need to listen to this.on('change:associatedModel', callback)

[2013-03-13 09:48] dhruvaray commented on #28
Can you please give an example or a jsfiddle - which demonstrates the problem you are facing? See this particular [test case](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L353-L368) (highlighted in yellow) which does both `change` and `change:AssociatedModel`

[2013-03-13 12:09] cnlevy commented on #28
here is the jsfiddle : http://jsfiddle.net/GV4Tq
I'm talking about the case where you do :
model.get('associatedModel').set(newAttributes)

[2013-03-13 15:33] pgayvallet opened #29 "Difference in setting nested model and collection attribute ( with fetch for exemple )"
I'm facing a problem when fetching model with nested attributes cause the nested model to loose reference (be overrided) :

The use case is the following :

Model A having a nested Model B as attribute "nested" ( A.get("nested") -> B )

A.fetch()
A.get("nested").on("any event", anycallback)
A.fetch()
-> nested have been overrided so the attached event is now attach to the old "zombie" model B.

Th

[2013-03-14 11:56] dhruvaray commented on #28
Thanks for clarifying. This is deliberate. The rationale for introducing _fully qualified_ paths was that the path would give you info about which node in the hierarchy has changed and you could get the info about the changed node through the event arguments.

We had deliberated about introducing the global change event - at higher levels of the object graph - a couple of times, but settled for fu

[2013-03-14 19:55] cnlevy commented on #28
Thank you for this detailed answer, and for maintaining such a useful
extension to Backbone.Model.
In fact I had guessed that feature could be deliberate, but I wanted to
stress this point so others would not fall into the same problems I had run
into.

[2013-03-15 04:49] dhruvaray commented on #29
I have fixed it with commit 54ce3dc4b8b6ff980607bb07bbccfd5645e781f3. I have decided to make collection attribute consistent with model attribute - rather than the other way around.

[2013-03-15 05:46] dhruvaray commented on #28
I have updated (4324af7c01ce063a8f8cde592f55fd404ecf1001) the pitfalls section of the documentation and cross referenced this issue.  I am glad to hear that the extension is useful to your work. If it's possible, do share a URL. I can put up a usage list if I hear from other folks as well. And yes, don't forget to star us if you like the extension!

[2013-03-16 06:24] #28 closed, assigned to dhruvaray

[2013-03-16 06:24] #29 closed, assigned to dhruvaray

[2013-04-02 21:18] philfreo opened #32 "Differences with Backbone-Relational"
Just curious on all the known differences between backbone-associations and backbone-relational? I know that backbone-associations doesn't support reverse relations but I'm wondering what other functionality is different.

Would also be cool to see updated benchmarks since backbone-relational has had several big performance improvements recently.

[2013-04-03 10:58] dhruvaray commented on #32
Sure... No worries. The section is now updated with the comparison figures against the latest Backbone-Relational library. I was waiting for the new tag (presumably 0.9.0 which officially declares support for Backbone 1.0.0). In the interim, I have used the latest commit SHA as a reference.

The primary motivation for starting off Backbone-associations was to provide a simpler (and faster) impleme

[2013-04-09 10:29] #32 closed, assigned to dhruvaray

[2013-04-11 07:58] dhruvaray commented on #32
Updated for performance stats against Backbone-relational - 0.8.5

[2013-04-11 21:07] wprater opened #34 "Changed association does not reflect in #changedAttributes"
Why is it that when I add an association, I cannot see the changed attributes?

[code]

[2013-04-12 04:21] dhruvaray commented on #34
This is because the memory reference to `users` in `Project` model has NOT 'changed'. You haven't really assigned a new `users` collection to `Project`. (which would trigger the behavior you are expecting) An _existing_ `users` collection is retrieved and a new `user` is added to the _existing_ collection. You can listen in to that event via

[code]

Hope that makes it clear.

[2013-04-12 04:29] wprater commented on #34
Thanks, that does make it clear, however, now I have to manage all the changed relations manually.  Because when I issue a patch with Backbone#sync, I only send the changed attributes.

[2013-04-12 04:36] dhruvaray commented on #34
Can you post a jsfiddle or some pseudo-code of what you are attempting to do?

[2013-04-12 05:25] wprater commented on #34
I've worked around it for now.  If I decide to use your library, I'll send some examples.  Thanks for the support.

[2013-04-12 07:02] #34 closed, assigned to dhruvaray

[2013-04-23 15:03] brianjmiller commented on #21
+1 to this. Minimally 'module.exports' needs to be checked for definition first it seems. I'm new to this particular module and module world but I'm trying to use almond.js and it is blowing up with "Uncaught ReferenceError: module is not defined". Adding the following "fixes" it but not sure what it might break:

[code]

Presumably to make it AMD based a define call should be added.

(Commenting

[2013-04-23 16:48] jdkanani commented on #21
@brianjmiller I agree with your code snippet. I think you are using v0.4.2,  edge version has a fix 47a4df7ebc8748d1c8b2a413c72c65f389bc2659 for that.

To use backbone-associations as AMD module you should use specific `shim-config` for your application.
Here is the example you can refer to: https://gist.github.com/jdkanani/5256463

[2013-05-02 03:13] jamesshannon opened #35 "Simple Store"
Hi. Not sure if you consider this out of your scope, but I'd like to have the ability to reference a store Collection. One of the reasons I'm checking out backbone-associations is because BBRelational's store/caching got buggily aggresive. My simpler use case here, however, is for something like a store of Options based on the id attribute.

[code]

Basically a pretty simple setup, but all possibl

[2013-05-02 11:23] dhruvaray commented on #35
Hi... This was out of scope. See issue #32 for the explanation....Could you step back a bit and explain the need for the store from an app flow perspective. It will help conceptualize a solution if we need to build one.

[2013-05-02 15:56] mnoble01 opened #36 "Question: Does BB-Associations support lazy-loading associated models/collections?"
For example, if the server gives you back the id of an associated model, does BB-Associations support automatic fetching of that associated model?

[2013-05-02 16:06] mnoble01 opened #37 "Question: Does BB-Associations support lazy-loading associated models/collections?"
For example, if the server gives you back the id of an associated model, does BB-Associations support automatic fetching of that associated model?

[2013-05-02 16:06] #37 closed, assigned to dhruvaray

[2013-05-02 16:06] mnoble01 commented on #37
Oops, duplicate

[2013-05-02 16:11] jamesshannon commented on #35
That example is basically my use case.

I literally have a collection of options which I want to reference in the "parent" as just an ID. In last night's case it was a static collection of InputType models (that would describe various HTML input type elements, where they can be added, how, what validation can be presented as options, etc). I'm not even sure this will ever end up in the database (i

[2013-05-03 08:25] dhruvaray commented on #35
Thanks for the explanation.

Now that I understand the underlying motivation better, wouldn't this achieve your needs?

[code]

Now that `Field` model has been set-up to have a local store + can convert id(s) to `FieldInputType`  instances, the test cases below will demonstrate how this would pan out in 3 real-life scenarios

[code]

Hope that makes it clear. This also elegantly handles this conce

[2013-05-03 08:53] dhruvaray commented on #36
Short answer : No

Long answer : See issue #32 for the philosophy and rationale for BB-Associations. Issue #35 asks a similar question. I have just answered that issue/discussion with a code snippet. That approach can be slightly tweaked for what you want to achieve. Alternatively, can you post what you are attempting to achieve (with code or pseudo code)? Then we can attempt to offer a solution.

[2013-05-06 19:13] jamesshannon commented on #35
Hi. Thanks for that.

I've got to admit, I don't completely understand it (mostly exactly when the change:type event on the Field will fire in relation to when backbone associations needs type_layout_data), but I generally see what you're doing.

So, cool... like the rest of BB, it's easy enough to extend things out to support this use case, and I'll use this code as a starting point if I end up s

[2013-05-07 11:25] dhruvaray commented on #35
The change handler sets the correct reference of `type_layout_data` (from the model-level store) whenever the `type` field changes (in all the 3 scenarios I mentioned). You can copy-paste+run the example in firebug console to play around with it.

I hope that you do switch to BB-Associations for your needs. I am yet not convinced about introducing a store at the library level. (For the simple reas

[2013-05-07 13:54] #36 closed, assigned to dhruvaray

[2013-05-07 14:10] johanneslumpe opened #38 "Question: Why are nested models always saved when parent is saved?"
I have a hierarchy like this:

Project > Group > Task

First I create a Project, assign a Group to it, by getting the relation-object and calling add() on it. Then I assign some tasks to the group.

When i now call save() on the project, it will of course save the whole Project, including its nested models. But when I call save() on every single  task, before i call save() on the project, it will

[2013-05-07 16:48] jdkanani commented on #38
Following code seems to be working fine. It sends only title for `task1.save`.
Could you please share your code snippet?

[code]

For `isNew` and `changed` object:
Here, In Backbone example -- `book.save` will send 3 http requests. Not sure whether It should care about `changed` object or not.

[code]

[2013-05-07 19:18] johanneslumpe commented on #38
Thank you for the quick reply! I double checked everything and you are right - the code works as you stated it would. My issue is actually what you are showing in your 2nd example. Even though book didn't change at all, a 2nd request is sent - but this is probably a backbone-issue then and not backbone-associations related.

A solution would probably be, to just overwrite the `save()` method or in

[2013-05-07 19:41] jdkanani commented on #38
You can always override `toJSON` to exclude nested model while saving,  and of course using `{patch:true}` as option.

[2013-05-09 06:24] johanneslumpe commented on #38
True! I will give that a go - thanks!

[2013-05-09 09:23] #38 closed, assigned to jdkanani

[2013-05-14 13:30] atomictag opened #39 "Parent-chain behaviour issue"
I am experiencing some issues with broken child->parents chain in some cases.

Here's a reduced example that shows the problem:

[code]

The culprit seems to be this line:

https://github.com/dhruvaray/backbone-associations/blob/master/backbone-associations.js#L170

I can't really figure out what the intended purpose of removing the current model from the parent list of one of its attributes is:

[2013-05-15 11:18] dhruvaray commented on #39
Thank you for using the new feature from the edge version and the bug contribution! The issue has now been fixed. I have added your test case to the test suite as well.

In short, the fix needed to distinguish between an `undefined` value being set versus not passing in any value for that attribute. As an aside, the `_.difference` call is important (see the prior test case in the suite for why so)

[2013-05-15 11:35] atomictag commented on #39
Thanks for this - that's great. I have been using Backbone Associations for a while now and I am very happy with it. Just wanted to give a shot to this new feature - and then this issue came out on an application I have built.
Regarding the feature per-se I am still trying to make up my mind on whether it would be useful or not - given the good and simple event bubbling that comes out of the box w

[2013-05-15 12:40] dhruvaray commented on #39
Wonderful... I am going to bump up the minor version tag soon to announce this feature. I am very pleased to hear that backbone-associations has worked well for you! Please do drop a note whenever you release your extension and we will take a look as well. You were bang on the target behind our key motivations for BA. For a more detailed  perspective, you may want to stop by #32

Thanks once again

[2013-05-15 12:59] atomictag commented on #39
Super. Your fix did the trick. Thanks a lot.

[2013-05-15 12:59] #39 closed, assigned to dhruvaray

[2013-05-17 21:11] chiplay opened #40 "Collection Change Events"
I'm using Backbone Associations with some great success - thanks for the brillant extension.  One question that has come up is how to listen for colleciton changes when the collection is nested into a parent Model?  I have a model called Account, with a related subModel called Cart. Inside the Cart model is a collection of OrderItems on the Items attribute.  I'm trying to bubble up events so that

[2013-05-18 05:53] dhruvaray commented on #40
Thank you very much for the appreciation! I am glad to hear that it is useful for your work!

I'll answer your query in 2 parts. One conceptual and the other will provide you a way around your problem.

A.
Conceptually, an add/remove or even an edit of an item in the collection does not cause the parent model which is holding the collection (via a property) to see any `change`. This is because the

[2013-05-18 15:07] chiplay commented on #40
So good!!!! What a thoughtful and thorough explanation, it worked like charm - thank you.

I'm slowly getting used to the new system of fully qualified events, but its a really nice solution to our data model challenges and combined with StickIt, makes round tripping UI events to model changes and back to DOM elements a snap, even when they are deeply nested and associated with different views.

S

[2013-05-18 16:34] dhruvaray commented on #40
Good to know that the approach worked for you! Yes, you should be good with toFixed.

Don't forget to star us on GitHub to show your appreciation!

[2013-05-18 17:22] chesterxgchen commented on #18
I just tried above mentioned scripts in fiddle, it doesn't seem to work. I have the same problem with the latest version i download yesterday. It could be just that I don't know how to use it.  But again, the fiddle example doesn't work for me either.

The key problem for me is that the documentation doesn't have an example as to how to populate the model once the model is defined.

In the fiddle

[2013-05-18 18:43] jdkanani commented on #18
I have updated [fiddle](http://jsfiddle.net/jdkanani/LkmMY/) with changed API of latest Backbone. It should work now.

 Custom [sync](http://backbonejs.org/#Model-sync) is just to show how fetch/save works. It provides sample data for model/collection to play with. You don't need to do that in your application.

1. `model.fetch()` - which will [fetch](http://backbonejs.org/#Model-fetch) model data

[2013-05-18 19:28] chesterxgchen commented on #18
Thanks for the quick response, the jsfiddle example works now.

Regarding to the fetch() and save(), this is still not clear for me.  The normal backbone model without association will only fetch the data itself. for example, User.fetch will only fetch user, userCollection will fetch a collection of users.
With User-> job association, when I call user.fetch. does the model expect the backend API t

[2013-05-19 19:50] #40 closed, assigned to dhruvaray

[2013-05-26 05:40] dhruvaray commented on #35
I decided to re-visit your request and allow for a way of providing mappings (to key values) at the framework level. The mapping function can use a store internally (if necessary). This is how [your](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L624-L691) use case would look with the new API. Let me know if this works for you.

[2013-05-31 07:55] koenHuybrechts commented on #21
Maybe also subscribe to Jam package manager? jamjs.org

[2013-06-11 19:03] singingwolfboy opened #41 "should expose version attribute"
Backbone, jQuery, and many other popular libraries define a version attribute, so that the version of the library can be determined by introspection. This library should do the same, to make it easier to maintain and identify.

[2013-06-12 15:32] jdkanani commented on #41
I am tempted to do but we have not any public container to hold this attribute like Backbone, Underscore and jQuery. Yah, we can always add like `Backbone.AssociatedModel.VERSION`, but I don't know.
Please let us know if you have any idea.

[2013-06-12 15:37] singingwolfboy commented on #41
`Backbone.AssociatedModel.VERSION` sounds perfectly reasonable to me -- `Backbone.AssociatedModel` _is_ the public container that this project exposes.

[2013-06-12 19:47] jballant opened #42 "IE8 does not natively support [].indexOf, any reason not to use underscores implementation?"
I wanted to make an app that's backwards-compatible with IE8, but I am getting fatal error loading up backbone-associations because on line 179 it use the native indexOf method on an array:

[code]

This method doesn't exist in IE8, so I was wondering if it would be possible to use underscore's indexOf implementation, which uses the native version if it exists. It seems that I am able to get backb

[2013-06-13 05:18] dhruvaray commented on #42
Thanks for catching this! It was an oversight. The change is now pushed to the repo. I am glad to hear that the extension is useful for you.

[2013-06-13 05:27] dhruvaray commented on #41
@singingwolfboy : On further thought, I thought it would be better to introduce a container for associations. Rather than stick the version attribute on an element definition within the container (viz AssociatedModel). You can now get the version from Backbone.Associations.VERSION. Does this sound reasonable?

[2013-06-13 12:11] singingwolfboy commented on #41
Sure. Would it make sense to have `Backbone.One` and `Backbone.Many` live under this new namespace, as well?

[2013-06-13 13:27] jballant commented on #42
Great, thanks!

[2013-06-13 13:27] #42 closed, assigned to dhruvaray

[2013-06-14 11:55] #41 closed, assigned to jdkanani

[2013-06-14 12:08] dhruvaray commented on #29
@wayofspark  > The possibility of the server response updating the model made it compelling to re-visit the issue again. Thanks for the initial code snippet though. It wouldn't work in that form because of eventing issues. But you have the effect you were seeking with this commit now. You can look at issue #31 for a similar thread and discussion.

[2013-06-20 12:11] dhruvaray commented on #35
Now part of backbone-associations v0.5.0. Do checkout the new website and features!

[2013-06-20 12:11] #35 closed, assigned to dhruvaray

[2013-06-21 04:42] dhruvaray commented on #21
v0.5.0 is now part of Jam package manager...

[2013-06-21 04:42] #21 closed, assigned to dhruvaray

[2013-06-24 23:32] chiplay opened #45 "Fetch parent model and triggering a reset on child collections"
I have a parent model, SearchResults, that has a 1-to-M relationship to a ProductsCollection and a 1-to-1 relationship to a SearchFacet model.  The SearchFacet model is a parent of four 1-to-M collections, Categories, Brands, Vendors, Tags.

When I run a fetch on the SearchResults model, the results from the server are "set" on the child collections, but I need a way to treat them as a "reset".  I

[2013-06-25 00:47] chiplay opened #46 "Getting attribute "key" of an associated child collection"
Is there is a simple way to retreive the attribute "key" of a child collection from a parent model? I have a view that gets fed a dynamic collection, that is a child of a model.  I need to use the attribute key in a conditional - but not sure how to best access it directly from the child collection.  I can get the parent model using childCollection.parents[0], but this doesn't give me the key.  Th

[2013-06-25 09:18] #45 closed, assigned to jdkanani

[2013-06-25 09:25] jdkanani commented on #45
You can now use `reset` option to reset nested collection. `searchResult.fetch({reset: true})`.
I have added your example as a test case [here](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L774-L899).

[2013-06-25 11:43] dhruvaray commented on #45
@hybriddesign : Thanks for catching this! We missed this scenario.

[2013-06-25 12:22] chiplay commented on #45
Thanks for the quick patch - awesome!

[2013-06-25 12:52] dhruvaray commented on #46
If I understand you correctly, Is this what you are looking for?

[code]

[2013-06-26 10:28] wyuenho commented on #23
I'm interested in this feature as well.

[2013-06-27 06:07] dhruvaray commented on #23
With backbone-associations v0.5.0, you could implement the concept as demonstrated in this [gist](https://gist.github.com/dhruvaray/5874290). Any suggestions on the API (or otherwise) would be welcome.

[2013-06-28 05:51] filR opened #47 "Events stop bubbling after a fetch"
Setting up a collection with listener:

[code]

Leads to the event `add:xxx` being triggered on f. w00t.

However, after **another `f.fetch()`, adding models no longer triggers an event on f.** If a reset is forced with `f.fetch({ reset: true })`, the events bubble up to f again, but this resets the models within f, which doesn't work in my scenario (each of these models is hooked up in it's own v

[2013-06-28 07:06] MatBart opened #48 "AMD and self-referencing"
I use backbone-associations in a AMD requirejs application, that's working fine with your recipe.

But i want to set a relation with the same model (friends from user).
How can I achieve this ?

In your example of model related to the same model, you set relatedModel as a string and not the class directly. But how can I do this in AMD ?

[2013-06-28 07:11] MatBart opened #49 "multiple reverse relation"
You added recently a way to set a reverse relation with the "parents" key.

One of my model is the child of two different model types (each using a different key attribute)

How will "parents" work in this case?

[2013-06-28 08:23] dhruvaray commented on #49
It is agnostic of the type. It simply store all instances pointing to it. In your example, the `parents` collection in the child will have both the types.

[2013-06-28 12:11] dhruvaray commented on #47
Thanks for catching this. Your scenario is now part of the test suite. You can check it out [here](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L822-L880).

Thanks for the compliment too! Don't forget to star us if you like our work!

[2013-06-29 02:04] filR commented on #47
Wow, thanks for the fast reply. I can confirm that your commit solves the problem. _thumbsup_

[2013-06-29 02:04] #47 closed, assigned to dhruvaray

[2013-07-01 06:46] #48 closed, assigned to jdkanani

[2013-07-01 06:54] jdkanani commented on #48
We are introducing `Backbone.Self` to resolve this scope problem. [Here](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L1420-L1453) is test case to show how it can be used.

[code]

[2013-07-02 02:07] #46 closed, assigned to dhruvaray

[2013-07-02 02:07] #49 closed, assigned to dhruvaray

[2013-07-07 19:29] sgrif commented on #23
Why not just allow relatedModel to be a function, and call it for each model if it is?

[2013-07-08 06:24] dhruvaray commented on #23
It is possible to make `relatedModel` take in a function as well... But how would that help support polymorphic associates?

[2013-07-08 12:28] sgrif commented on #23
So for @HangingClowns example, the association would look like this (assuming the models in JS are named the same as his Rails app, and are under the 'Models' module)

[code]

Backbone associations doesn't need to care about how we map various classes, or what keys are being used, or anything else that might change from app to app or back-end to back-end, it just needs to know that if `relatedMode

[2013-07-08 12:31] sgrif commented on #23
Also for anyone not familiar with CoffeeScript:

[code]

[2013-07-08 14:19] dhruvaray commented on #23
@sgrif : Thanks for the clarification and code snippet. That helped indeed!

The edge version now allows `relatedModel`s to also be a function. Your example is captured in the test suite [here](https://github.com/dhruvaray/backbone-associations/commit/5210ae85d3b441384aa378356c02e31d538ff0ce#L1R878)

Note that the function which computes the `relatedModel` would need the current hash of attributes

[2013-07-08 14:59] sgrif commented on #23
Could we do something like this to avoid the need for that ugly `||` in the consumer code?

[code]

[2013-07-09 01:02] monokrome commented on #23
Doesn't backbone associations contain a map of all the models already? Can't that be passed to the function?

[code]

That'd be better assuming that associations is already keeping a list of models. It's not guaranteed in applications that everything is in one huge Models list.

I'd hope that organizableType is an assumed API-specific implementation detail, and not some special thing?

IE, there a

[2013-07-09 01:32] sgrif commented on #23
Brandon, that example is in the consumer code, not in backbone
associations. The idea is that it doesn't know where you keep your models,
you tell it.

On Mon, Jul 8, 2013 at 7:02 PM, Brandon R. Stoner
notifications@github.comwrote:

##

Thanks,
Sean Griffin

[2013-07-09 03:21] monokrome commented on #23
Understood, but doesn't Backbone associations already have a cached list of models that exist in order to do relations to strings and such?

[2013-07-09 03:23] sgrif commented on #23
I'm afraid you've lost me.
On Jul 8, 2013 9:22 PM, "Brandon R. Stoner" notifications@github.com
wrote:

[2013-07-09 03:29] monokrome commented on #23
If I understand correctly, backbone-associations' `map2Scope` function uses a map that caches all of the models to figure out what model the string you've provided as a relation represents. My question is that - if you already have a cached list of all the models - why not just provide that as an argument to the relation function?

It avoids the necessity of getting references to all sorts of mode

[2013-07-09 03:54] sgrif commented on #23
So first of all, I'm not sure where you're seeing caching. There is none happening in that method. What that seems to be there for is taking a string like `'App.Models.Foo'` and turning that into `App['Models']['Foo']` (or `App.Models.Foo` if you prefer.

That's not what we're doing with polymorphic associations here. The way a polymorphic association works in Ruby on Rails is that you have 2 colu

[2013-07-09 03:58] monokrome commented on #23
I thought that there was some caching, so since it's not there then the answer to my question is no. Thanks for the description. :)

[2013-07-09 04:19] dhruvaray commented on #23
@sgrif  : I agree with your comment on the need to remove the ugly `||` in the consumer code. The idea in your code snippet is neat. However, some thoughts.
- All attribute values are not of primitive type. They could contain sub-graphs rooted at that attribute.
- Due to this, it is possible that a specific attribute value (already present in the existing instance) is an `AssociatedModel`,but what

[2013-07-09 04:35] sgrif commented on #23
Hm... My gut reaction is to say that the best solution would be to ensure that all non-association keys are set before we handle associations, and that the consumer can always rely on `this.get`. I'm not sure if that would be possible to implement cleanly, however.

If it's alright with you, I'm going to spend an hour or two some time a few days familiarizing myself with the code base, and submit

[2013-07-09 04:42] monokrome commented on #23
@dhruvaray I agree that caching is unnecessarily complicated. I had thought that it was already there, but that's in backbone-relational (and it causes many issues in that library).

I would like to mention that it'd be nice if the relation was passed to this function after attributes, however - because there's no way to know what relation you are working with in the case of generic functions that

[2013-07-09 04:43] dhruvaray commented on #23
@sgrif  : The danger with doing that could be that the `change` events fire prematurely - before the entire graph has been updated. So event handlers would land up with an intermediate (partially - updated) object hierarchy. Nonetheless, maybe there is a way around it. So I'll wait for your PR to see what you are thinking!

[2013-07-09 04:55] dhruvaray commented on #23
@monokrome : Fair enough. I agree. Would you be so kind to also put in a test case (or update the existing [one](https://github.com/dhruvaray/backbone-associations/commit/5210ae85d3b441384aa378356c02e31d538ff0ce#L1R878)) as part of the pull request. Also, I would probably change the order of the arguments to > relation, attributes.

[2013-07-09 04:57] monokrome commented on #23
@dhruvaray I was thinking that the attributes are probably more often useful than the relation itself, but changing the order wouldn't be a problem if you disagree.

[2013-07-09 05:08] monokrome commented on #23
@dhruvaray A test case has been added. I'm not very familiar with whatever testing framework is being used, so let me know if this was an odd method of testing the feature.

[2013-07-09 06:28] dhruvaray commented on #23
@monokrome : I just thought meta data (this, relation) before data (attributes)...

[2013-07-09 06:32] monokrome commented on #23
@dhruvaray

Are you saying to just pass in a meta object instead? IE, something like:

[code]

That could work, but I don't know if it's really _better_ than passing it in as the first argument.

The `attributes` object is really always necessary since the data in this.attributes is not guaranteed to be fresh, so it's going to need to be passed every time. Function arguments seem like a sound meth

[2013-07-09 07:00] dhruvaray commented on #23
oops... no. that's not what I meant !

I was just commenting on why I thought having relation as a first parameter (and then attributes) would be a better idea

[2013-07-09 13:59] dhruvaray commented on #23
@monokrome  : I accepted your PR and switched the params around. Otherwise you should have what you needed.

[2013-07-09 17:45] monokrome commented on #23
@dhruvaray Cool. Just saw all the updatess. Had to get some sleep last night. Thanks!

[2013-07-10 06:58] dhruvaray opened #51 "How important is it to have an explicit reverse relation support?"
BB Associations supports reverse (inverse) relationships implicitly - via the parents property. Do users of BB Associations see a value in supporting explicit reverse relations - in the style of Backbone-relational?

[code]

can also be simply modeled as

[code]

Would be nice to see an example of what explicit reverse relation support could bring to the table.

EDIT : 19th July

Also, reverse rel

[2013-07-12 15:48] sdeleuze commented on #51
I am currently porting a very big app from BB relational to BB associations. We made very heavy use of reverseRelation so I will let you know if I have some use case where I am blocked with current BB assocations implementation.

I will work on this next week.

[2013-07-12 15:50] sdeleuze opened #52 "collectionType benefits ?"
First thanks for this awesome lib !!!

My question is: since collectionType is optional, could you explain in a more detailed way when we should use it ? It may be a useful documentation update.

[2013-07-12 17:44] jdkanani commented on #52
There are a number of built-in/custom properties we can define for collection using `collectionType`, such as`parse`, `comparator` or even `url`.

[code]

These could also be useful for Backbone-paginator or even custom pagination. Hope this helps!

[2013-07-13 01:13] dhruvaray commented on #52
@jdkanani : Thanks! @sdeleuze : Will update the documentation for the upcoming v0.5.1 release

[2013-07-13 02:02] dhruvaray commented on #51
I would recommend you use the edge version. We are about to release v0.5.1. You can read about the upcoming features in the [changelog](https://github.com/dhruvaray/backbone-associations/blob/master/CHANGELOG.md)

With that out of the way:

Thanks for your appreciation!

I am excited to hear about your real-world experiences during your port to BB-Associations and whether reverse relations can be

[2013-07-13 07:05] dhruvaray commented on #28
With BB-Associations v0.5.0+, you can now use the nested-change event for global events. See your revised fiddle [here](http://jsfiddle.net/dhruvaray/txchA/). For rationale, you can see the nested-change section in the [event catalogue](http://dhruvaray.github.io/backbone-associations/events.html#e-catalogue) documentation.

[2013-07-13 07:12] dhruvaray commented on #40
With BB-Associations v0.5.0+, you could reduce the boiler plate code - which I had initially put as the answer to your question - as shown in this [recipe](http://dhruvaray.github.io/backbone-associations/recipes.html#tut-ccgp)

[2013-07-15 07:50] dhruvaray commented on #18
@chesterxgchen : You may want to take a look at the new [documentation and recipes](http://dhruvaray.github.io/backbone-associations/) for your queries...

[2013-07-16 08:20] sdeleuze commented on #51
I still have some regressions due to BB Relational cache removal, but migration seems to be mostly successful. Your sample on this issue was really helpful, and should be integrated in documentation if it is not.

I will keep you inform when all migration bugs will be fixed.

BB associations is a pleasure to use so far.

[2013-07-16 08:21] sdeleuze commented on #52
Thanks

[2013-07-16 08:21] #52 closed, assigned to jdkanani

[2013-07-16 08:22] sdeleuze commented on #51
We plan to integrate BB Assocations in our upcoming of RESThub stack (http://resthub.org/), can you tell me when 0.5.1 release is expected ?

[2013-07-16 09:28] dhruvaray commented on #51
From the perspective of code, we are ready. I just need to update the CDNs and the documentation. So I would say a couple of days - at most.

I am really happy to hear that the migration has been mostly smooth so far! Based on your experiences, I would like to put in a upgrading from BB-Relational section. The example in this issue and whatever problems you share will find it's way into that docum

[2013-07-17 15:49] dhruvaray commented on #51
v0.5.1 is now released. The documentation has been updated with your suggestions. I am going to wait till you finish your port to BB-Associations before I write a "porting from BB-Relational" section. It would be nice if I could also link to http://resthub.org on our website. It's always great to see a complete stack implementation!

[2013-07-18 02:27] dhruvaray commented on #39
@atomictag : you may want to update your app code to prevent potentially wrong values and a memory leak while using parents property and if you set model instances to falsy values explicitly... See [this](http://dhruvaray.github.io/backbone-associations/specify-associations.html#sa-reverse) for an explanation.

[2013-07-18 02:38] atomictag commented on #39
Will keep this in mind. Thanks for the heads up!

[2013-07-18 14:58] sdeleuze opened #53 "dhruvaray.github.io/backbone-associations"
Issue may be on GitHub side, but it is very difficult (close to impossible) to access to http://dhruvaray.github.io/backbone-associations/ website.

Do you observe such issue ?

[2013-07-18 15:12] sdeleuze commented on #51
Nice, thanks.

I have updated our snapshot documentation at http://resthub.org/reference/snapshot/backbone-stack.html, we just have access problem to the website as described on https://github.com/dhruvaray/backbone-associations/issues/53 issue.

[2013-07-18 15:45] jdkanani commented on #53
It is working fine at my end. Can you please try after sometime?
On Jul 18, 2013 8:30 PM, "Sébastien Deleuze" notifications@github.com
wrote:

[2013-07-19 01:58] dhruvaray commented on #53
The site is completely run off GitHub. The GitHub system status is [good](https://status.github.com/graphs/past_week) for the past week. I am able to access the site fine from here. Are you yet facing the problem? To eliminate the possibility of config error/congestion on your network, can you try from a different network?

[2013-07-19 07:15] sdeleuze commented on #53
Seems to be an issue with our company proxy, I close this issue.

[2013-07-19 07:15] #53 closed, assigned to dhruvaray

[2013-07-21 01:58] dhruvaray opened #55 "Who uses Backbone-Associations?"
A compilation of projects which use Backbone-Associations. Please add your own project or product to this list. It would be wonderful and motivating to hear your story!

[2013-07-21 02:03] dhruvaray commented on #55
Source : Google Search

[Kinvey](http://www.kinvey.com)
- Kinvey & Google Partnership

http://techcrunch.com/2013/06/05/google-app-engine-adds-kinvey-to-power-mobile-backend/
"Google is broadening its reach into the mobile app development world today through a partnership with Kinvey, which will provide an enterprise backend-as-a-service (BaaS) layer on top of Google App Engine. With Kinvey, Googl

[2013-07-21 02:06] dhruvaray commented on #55
Source : Issue #51

The RESThub stack (http://resthub.org/) is currently porting from Backbone-Relational to Backbone-Associations!

[2013-07-29 15:09] sdeleuze commented on #55
RESThub 2.1.2 has been released and now includes by default Backbone Associations 0.5.1.

[2013-07-29 15:20] sdeleuze commented on #51
I think we have found an issue while porting our big application from Backbone Relational to Backbone Associations.

The issue is the following, I have a Parent - Child relation like following :

[code]

When we serialize Record we have something like this

[code]

Based on our server requirement, we need something more like this, with the backreference from ChildMinder to Record provided (only th

[2013-07-30 09:45] dhruvaray commented on #51
@sdeleuze : I just added a test case - commit : 428ec34 - to demonstrate how to handle your scenario with BB-Associations. Let me know if you have any doubts or comments.

[2013-07-31 01:38] chiplay opened #56 "Nested relationships fail to serialize inside Backbone.Self toJSON"
When you create a Backbone.Self relationship, and that model has its own associations, the toJSON fails to serialize the nested models.

Example:

[code]

When you try to access alternate.brand.name in an underscore template it fails, as "brand" has not been serialized to an object.

I might be missing something - thanks in advance for the help!

[2013-07-31 09:23] jdkanani commented on #56
I am not sure if I understood it correctly, but underscore template and serialization are working fine.
Here is an example:

[code]

[2013-08-01 01:24] pplante commented on #55
At @rentlytics we're porting from backbone-relational in a new version of our software.  For the most part its been going rather well with @monokrome only submitting 2 issues so far.  He has been heading up the new version, so maybe he can share some of his thoughts with you.  But this library is much cleaner to work with than backbone-relational, mostly because it is simpler and does less things.

[2013-08-01 05:41] dhruvaray commented on #55
@pplante : Thanks for sharing this! I am glad and excited to hear that @rentlytics is moving over to BB-Associations! As usual, I would like to hear about your porting experiences - so that we can incorporate them into our documentation.

1. No implicit store or cache or model identity management : In our experience, the app tends to bloat (memory wise) due to this. If we ever added this feature,

[2013-08-01 14:59] sdeleuze commented on #51
@dhruvaray Thanks for your test case. It works but I am a little puzzled by the need to add the findRecordById logic to each model where I have this kind of relations.

Could you explain when occur different cases :
1) The case where val is an instance of Models.Record is pretty obvious
2) When should we have id = val ?
3) When should we have id = val.id ?
I just need more details to understand wh

[2013-08-02 09:50] dhruvaray commented on #51
I put conditions 2 & 3 to just demonstrate various serialization options. You could trim as per your requirements
- id = val.id : Will handle this kind of object graph serialization

[code]
- id=val : Will handle this kind of object graph serialization

[code]
- val instanceof Models.Record : To handle direct assignments.

Because a map function has been specified, the framework will call the map

[2013-08-05 02:09] dhruvaray commented on #56
Closing... Since I haven't heard back from @hybriddesign

[2013-08-05 02:09] #56 closed, assigned to dhruvaray

[2013-08-08 05:10] dhruvaray commented on #51
@sdeleuze : Thinking a bit more about your scenario, we don't need to define a mapper function. Just setting options.merge = false during rootmodel.save() would handle your scenario correctly. See the re-written version of your scenario in commit 7893855. Let me know if that helps!

[2013-08-14 12:48] kosmotaur opened #57 "errors for required options"
Hi,

I've just spent around 3 hours debugging because I habitually entered `typeof` instead of `type` in my relation config. I had to follow execution deep into the library's code to spot that.

If you specify in docs that something is required, and the required option is not provided, please be more strict about it and throw some informative errors. Otherwise people will get silent failures, whic

[2013-08-15 02:55] omichowdhury opened #58 "Calling toJSON whilst _processPendingEvents is running returns undefined"
Hi,

If the events that are being processed call toJSON then the call to toJSON fails because this.visited is true.

I assume the reuse of this variable name is not intentional. Changing this.visited to this.eventsVisited in _processPendingEvents fixes the issue and doesn't break any tests

Omi

[2013-08-15 06:58] dhruvaray commented on #57
@kosmotaur : I agree and apologize for the pain.

This commit - e3ccda0 - beefs up the error handling and would have caught your typo. This [test case](https://github.com/dhruvaray/backbone-associations/commit/e3ccda0d57e01f7350dee4e0afd4e6d7e19ea677#L1R368) demonstrates what all error scenarios are handled with this commit.

[2013-08-15 07:06] dhruvaray commented on #58
@omichowdhury : You are right...The variable name change should do the trick. It would be great if you can add a test case to the suite @ /test/associated-model.js) to demonstrate the bug so that this does not regress again. Then, I can accept the pull request.

[2013-08-15 07:32] kosmotaur commented on #57
@dhruvaray hey no worries, and great you've already fixed it, thanks!

[2013-08-15 15:02] #57 closed, assigned to dhruvaray

[2013-08-15 19:56] jksmithing opened #60 "Include options in nested-change events?"
Is there a reason why the options passed to `set` aren't passed as an argument to `nested-change` callbacks?

I just added `, args[2]`:

[code]

[2013-08-16 10:05] dhruvaray commented on #60
Passing options would keep the events API consistent. Your code is good except for a small check to args[2]. BB-Associations now passes options to nested-change events via commit ee5e1ee

[2013-08-17 11:22] #60 closed, assigned to dhruvaray

[2013-08-19 08:04] dhruvaray commented on #58
@omichowdhury : Just checking to find out if you are yet interested in submitting the test case?

[2013-08-19 15:13] josx opened #61 "Object has no method '_processPendingEvents' with PageableCollection"
I am trying to use Backbone-Associations with [Backbone-Pageable](https://github.com/wyuenho/backbone-pageable)

My collections extends from PageableCollections instead Backbone.Collection (if I extend from Backbone.Collection dont give me this error).

[code]

The problem arise when `collection.fetch()` gives me
**Uncaught TypeError: Object [object Object] has no method '_processPendingEvents'**

[2013-08-20 02:05] omichowdhury commented on #58
Yes, I am - been busy at work sorry.
I did have a quick look at it though and it wasn't immediately obvious to
me how to force the case.
I need to have _deferEvents set to true when I trigger the event, which
means I need to get to either line 188 or line line 208.
Could you give an example of what sort of association is handled by those
cases?

On 19 August 2013 18:04, Dhruva Ray notifications@gi

[2013-08-20 03:53] dhruvaray commented on #58
No issues... This commit - af97cdd467861fe83081797a23376ca014ea1a14 - should fix the issue.
The corresponding test case is [here](https://github.com/dhruvaray/backbone-associations/commit/af97cdd467861fe83081797a23376ca014ea1a14#L1R2182).

[2013-08-20 03:53] #58 closed, assigned to dhruvaray

[2013-08-20 05:14] dhruvaray commented on #61
I haven't really played around with Backbone-pageable. But since, we proxy the collection methods, I suspect, it may be an ordering issue

Can you confirm that the way you load the scripts is in this order

[code]

[2013-08-20 12:20] josx commented on #61
@dhruvaray  You were right! Great Thanks!

[2013-08-20 12:20] #61 closed, assigned to dhruvaray

[2013-08-20 14:25] pardo-bsso opened #62 ""parents" property not built after page reload."
Hi all,
are evaluating a migration from Relational to Associations. Our current setup uses git version 2a88c59532aa5ad14a2f6a9956855f6a1cd229b5.

What we see is that the parents property is populated but after reloading the page it is empty.

Is that the expected behaviour?

[2013-08-20 14:46] dhruvaray commented on #62
It should have nothing to do with page reload... Can you share a snippet to demonstrate what you are experiencing?

[2013-08-20 15:00] pardo-bsso commented on #62
Hi dhruvaray, thanks for your prompt response.

Well, it's a bit hard to crop our app to a minimal case so I'll try to explain myself better.
Our stack consists now of Backbone.io , visual search , associations and backbone-pageable.

the model definitions are at:
https://github.com/inaes-tic/mbc-common/blob/bb-assoc/models/Media.js

I create and fill a Media.Playlist. Then we create some Media.Oc

[2013-08-20 16:43] geekdave opened #63 "Comparison with DeepModel"
Hello!  Just stumbled upon this library, and saw lots of praise for it.

We originally started with [Backbone.Nested](https://github.com/afeld/backbone-nested) but then it became incompatible with newer versions of Backbone.

We then switched to [DeepModel](https://github.com/powmedia/backbone-deep-model) and have been mostly happy despite a few quirks.

Just wondering if anyone could help to high

[2013-08-20 17:05] dhruvaray commented on #62
I need to take a closer look at your code. But just so that we are on the same page - when you say - "reload the page", are you recreating the Media.Playlist and Occurence items on reload - just like the first time around? Or is there something different happening on the re-load?

[2013-08-20 17:17] dhruvaray commented on #63
I think an independent and unbiased assessment by real users of both the libraries would be ideal! There has been - in the past - some discussions comparing BB-Associations with BB-Relational in issue #32 and issue #55 - which covers philosophy differences and feature sets.

[2013-08-21 08:58] dhruvaray commented on #61
@josx : Great to hear that. Here is one important issue of backbone-pageable you should be aware of :  https://github.com/wyuenho/backbone-pageable/issues/109

It could trip up in unexpected ways.

And again, if you like our library, don't forget to star us!

[2013-08-21 10:01] dhruvaray commented on #62
Your model definitions seem fine. I could not find any reference to parents in your project. Also, can I ask you the scenario which is forcing you to use the parents property? I think you will have to either write out a jsfiddle or abstract your scenario to get a faster turn-around.

[2013-08-21 10:08] dhruvaray commented on #63
@geekdave : Maybe you can share your quirks and I can comment if BB-Associations has them or not?

[2013-08-21 12:43] josx commented on #61
@dhruvaray  thanks for advice!
Already starred backbone-associations ...

[2013-08-21 13:40] pardo-bsso commented on #62
Hi again, thanks for your time.

When I say "reload" I mean pressing F5 on the browser, and we get again the models from the server.

As for the parents property it is not yet there. What we want to do is to know if for a given Playlist there are Occurrences, that works as long as we do not reload the page. I'll try to make a fiddle, we were bitten in the past with small things like the loading or

[2013-08-21 15:25] geekdave commented on #63
Off the top of my head, the only one I remember was how to deal with Model keys that had a "dot" in the name.  But this was [recently fixed](https://github.com/powmedia/backbone-deep-model/pull/15), albeit in a "global way", not per-model as we had hoped.

I guess I'm more curious if there are any monsters lurking in the shadows, with regards to performance, stability, etc.  Basically any really c

[2013-08-21 15:25] #63 closed, assigned to dhruvaray

[2013-08-21 17:55] pardo-bsso commented on #62
Hi again, thanks for your time.

When I say 'reload' I mean pressing F5 on the browser so I get again the models from the server. As for the parents property it is not yet there. What we want to do is to know if for a given Playlist there are Occurrences and that property seemed like the correct way to go. It works fine for models just created from the console but does not when fetching them from

[2013-08-22 00:56] dhruvaray commented on #62
Seems like an application problem. Clone our repository and run our test suite @ test/test-suite.html. We have a parents test case : ./test/test-suite.html?testNumber=53. If you re-run (or re-load) this multiple times in your browser, the asserts on the `parents` property works fine.

[2013-08-26 04:35] dhruvaray commented on #62
I am closing this. Please open if you yet see a different behavior.

[2013-08-26 04:35] #62 closed, assigned to dhruvaray

[2013-08-26 04:51] dhruvaray commented on #63
BB-Associations does not allow . in the key name as it is a path separator

[2013-08-27 08:51] frekw opened #65 "Support for Backbone 1.0 (bower config)"
Hi,

Backbone Associations currently doesn't indicate support for Backbone 1.0. There shouldn't really be any changes that should affect this project (except for maybe the changes to model validation).

I'm using it right now together with Backbone 1.0, but it would be nice to get rid of the error messages from Bower.

[2013-08-27 09:02] dhruvaray commented on #65
BB Associations fully supports Backbone v1.0.0. I thought the bower file spelt out the min supported version. In any case, I have updated the file just now.

[2013-08-28 12:14] dhruvaray commented on #51
@sdeleuze : I just now made a change - b8257a820ca4994b6d8d18c7b7d7d8c483a53929 - which should handle the common (cyclic) scenario transparently.

With this change, you don't need to over-ride the toJSON method for cycle scenarios or pass options to save(/fetch/set) methods.

With this change, you can use BB-Associations to do exactly what you wanted [here](https://github.com/dhruvaray/backbone-as

[2013-08-29 04:15] dhruvaray commented on #65
I am closing this issue... If you yet face a problem, do write back. Also, if you like our library, do show your appreciation by starring us!

[2013-08-29 04:15] #65 closed, assigned to dhruvaray

[2013-08-29 06:51] frekw commented on #65
Thanks for your help!

[2013-08-29 09:18] dhruvaray commented on #51
@sdeleuze, others : As an FYI : Our recently released [Backbone Eye](http://dhruvaray.github.io/spa-eye/) - a tool to analyze and understand Backbone application behavior without debugging Javascript - also plays well with Backbone Associations (and other nested frameworks as well). The above example would graphically pan out like this in our tool.

![childminders](https://f.cloud.github.com/asset

[2013-09-02 10:50] dhruvaray commented on #51
Recipe gist [here](https://gist.github.com/dhruvaray/6410978) and updated [recipe](http://dhruvaray.github.io/backbone-associations/recipes.html#tut-rev) list in documentation.

[2013-09-02 10:53] dhruvaray commented on #23
See recipes [here](http://dhruvaray.github.io/backbone-associations/recipes.html#tut-pa) and [here](http://dhruvaray.github.io/backbone-associations/recipes.html#tut-map2) in the project documentation.

[2013-09-02 10:53] #23 closed, assigned to dhruvaray

[2013-09-03 00:01] adamscybot opened #66 "Doesn't work with browserify"
Backbone associations can not be used in a browserify stack as both the window and exports modules are defined as objects at runtime on the clientside. For this reason, the require('backbone') etc calls are not made and so instead it assigns Backbone and _ to exports._ and exports.Backbone, which are by definition, empty. Presumably that branch of the if logic should only fire when root == window

[2013-09-04 03:14] #66 closed, assigned to dhruvaray

[2013-09-04 03:24] jdkanani commented on #66
Thanks @adamscybot for pointing this out. I have just [pushed](https://github.com/dhruvaray/backbone-associations/commit/cbc780f811ba3d07004485f11f47c32393c64dff) code to check exports over window as per your code snippet. Let me know if it works for you.

[2013-09-08 02:33] dhruvaray commented on #66
Wonderful! Sure...In a couple of days at most. Don't forget to show your appreciation by starring us!

[2013-09-12 14:03] sdeleuze commented on #51
Thanks a lot, I am going to try this improvement

[2013-09-19 12:37] gregtillbrook opened #67 "Object references seem to get broken after collection.set"
Hi, we've been evaluating bb-associations for use in our webapp but think there's an issue with objects being recreated when setting via blobs of json. Ive seen issue #31 but _think_ there's still a problem there. Here's a test case that I believe demonstrates the problem ;

[code]

To give a bit more context - We have a rich model/collection hierarchy thats; a) used to drive a number of nested Ma

[2013-09-19 13:46] gregtillbrook commented on #67
I realised the test case didn't capture the problem correctly so have updated it.

Im beginning to suspect the problem is due to the base object being a Collection rather than a Model - sound plausible?

[2013-09-19 15:34] mattcroberts opened #68 "AssociatedModel with attributes containing a dot (period)"
I've been using backbone-associations for a while now and its generally quite helpful, but is it now impossible to have attribute names with dots in them?

For example

[code]

[2013-09-19 17:09] gregtillbrook commented on #67
I tried an alternate test that wraps the structure in a Model (as a possible workaround) but this also fails.

[code]

[2013-09-20 06:55] dhruvaray commented on #67
Thanks for the elaborate test case(s) and catching this. d13243c fixes the scenarios you have submitted. They are now part of the test suite as well. Let me know if it works for you.

[2013-09-20 07:58] gregtillbrook commented on #67
Wow, and thank you very much for what is probably the quickest fix Ive ever received for an issue Ive raised :D !

Works great.

[2013-09-20 08:31] dhruvaray commented on #67
Thank you! If you are curious, the fix essentially involved _not_ creating a new model when a model with the same id value is passed from outside. It was handled for collections in issue #31. But I had somehow missed this case. I took the opportunity to simply the logic while I was fixing this case.

Lastly, if you like our library, please don't forget to share your appreciation by starring us!

[2013-09-20 09:58] jdkanani commented on #68
Thanks @mattcroberts

I've added global `Backbone.Associations.SEPARATOR` property to define your own separator.
Default separator is `.`

This is small piece of code to start with:

[code]

Of course, decide your separator and stick with that through out your application to avoid complexity.

Let me know if this works for you.

[2013-09-20 10:15] mattcroberts commented on #68
Just gave this a quick test, looks good to me. Thanks for the quick work!

[2013-09-20 11:20] #67 closed, assigned to dhruvaray

[2013-09-20 11:20] gregtillbrook commented on #67
All happy + starred.

Cheers,
Greg

[2013-09-20 17:28] #68 closed, assigned to dhruvaray

[2013-09-23 05:17] dhruvaray commented on #63
This feature is now added via issue #68 and is available in v0.5.3+

[2013-09-23 10:32] gregtillbrook opened #69 "1:1 relations with non Backbone objects"
Id really like to create some relations with objects that aren't Backbone.Models. My particular use case is initialising dates with the awesome 'moment' library (http://momentjs.com/) and it'd be way cleaner if I could specify something like;

[code]

Any chance of making something like that possible?

[2013-09-24 07:06] dhruvaray commented on #69
This particular case can be easily handled via regular Backbone attributes itself. You can run the code snippet below in a Firebug console

[code]

Is this what you are looking for?

[2013-09-24 09:10] gregtillbrook commented on #69
Its more about being able to store data as a custom data type. To extend your example, if we can store data as a particular type;

[code]

It makes it elegant to work with later like this;

[code]

Now, I know I could manually set that up in the initialize method (and infact am doing so already in our code) but we have dates in multiple places + have other custom data types, so i'm hoping to avoid

[2013-09-25 23:56] bryanaka commented on #69
I would say this is probably a better candidate for creating a custom setter, and not a relation. This is just a rough estimate of how this would work with Moment.

[code]

I will try to write a fiddle later when I have a bit more time.

[2013-09-27 17:25] dhruvaray commented on #66
Took longer than I thought, but v0.5.3 is now on npm!

[2013-10-04 10:50] atomictag opened #70 "Add relations at runtime"
Is it advisable to add relations to an object at runtime - and is there a best practice to do that? I am currently pushing a new relation into an existing associated model instance and everything seems to work ok with events etc. but I am not sure this does not have issues or side-effects. Thanks for your feedback!

[2013-10-04 17:07] zimme opened #71 "Bower dependency version"
Today the bower.json file lists specific versions that BB-A depends on, and this should be changed so that it specifies greater or equals instead. i.e. "underscore": ">=1.4.3" instead of "underscore": "1.4.3"

[2013-10-04 18:39] joeybaker opened #72 "Backbone-associations + node fails to update"
I'm having a hell of time pinning this issue down, but I thought I'd share progress in the hopes that someone smarter than me can figure it out.

TL;DR: when using backbone-associations in a node.js app, updates to a sub-model with a direct `save` call will fail to populate the sub-model attributes until sometime after the `success` callback is fired.

I've got backbone.js running in a node.js app

[2013-10-05 05:09] jdkanani commented on #72
I am not sure If I understand you correctly, but here I have one
question before I start debugging.

Is there any particular reason to pass `wait: true` as option?

Let's have a look what Backbone is doing internally.

with `wait`

[code]

without `wait` (This is exactly what you are doing to make it work):
    model.set(data).save(null, options);

Let me know if it works for you or I will take a

[2013-10-05 05:55] jdkanani commented on #70
Backbone-associations does not maintain any state or data internally.
So, adding relations runtime will not cause any issues or side-effects.
But, it is _not_ advisable as it will make your application code
difficult to maintain and complex (specifically, for event binding).

I would personally suggest you not to add relations runtime unless you
_really_ need to.

Let me know if it helps.

On Frid

[2013-10-08 10:11] dhruvaray commented on #71
Been a bit caught up... so the late response. Hopefully this commit - 05b7fd8 - should fix it

[2013-10-08 12:38] dhruvaray commented on #70
@atomictag : There is at least [one test case](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L1229-L1236) in the repo which does what you are talking about. It should not have side-effects. But based on your application complexity, you may have to be careful about ordering issues  as @jdkanani pointed out in an earlier comment...

[2013-10-08 13:49] atomictag commented on #70
Thanks a lot for your help, guys. I certainly won't abuse this - but it's good to know it won't cause deeper issues.

[2013-10-08 13:49] #70 closed, assigned to dhruvaray

[2013-10-08 14:31] dhruvaray commented on #69
@gregtillbrook : I realize this is late and you may have moved on with a solution, but

[code]

would be yet possible with regular atomic attributes. Why do you need to specify it in the `relations` array? The reason, I need to have the relatedModel as a Backbone.Model or Collection is to ensure event propagation (in a nested scenario), previous attributes state etc.

[2013-10-09 09:13] #71 closed, assigned to dhruvaray

[2013-10-09 14:28] jayd3e opened #74 "Circular Dependencies"
How does backbone-associations deal with circular dependencies?  We are trying to integrate it with our app from backbone-relational, and we're running into all of these problems where two separate modules need each other.  This was solved by lazy-loading classes in backbone-relational.  How would you solve it in backbone-associations?

[2013-10-09 14:50] dhruvaray commented on #74
Did you look at this recipe? http://dhruvaray.github.io/backbone-associations/recipes.html#tut-rev

[2013-10-09 14:58] joeyrobert commented on #74
Yes I saw this, question about passing a string into the relatedModel field: "A fully qualified string which can be resolved to an object type on the global scope." -- does this mean available to the model at instantiation time (var a = new ModelName()) or at creation time (var ModelName = Backbone.AssociatedModel.extend(...)).

Is the solution to put all the models on the global scope?

[2013-10-09 15:29] dhruvaray commented on #74
@ creation time. (@ type definition - BB.AssociatedModel.extend)

That is one way to do it... Alternatively, you can define `relatedModel` as a function which will return local model definitions.

[code]

For circular relationships involving the same model, you can use Backbone.Self (See this recipe in an AMD context : http://dhruvaray.github.io/backbone-associations/recipes.html#tut-amd)

[2013-10-09 21:00] jayd3e commented on #74
I think the global scope method is the way we're going to go.  Thanks!

[2013-10-09 21:00] #74 closed, assigned to dhruvaray

[2013-10-10 13:44] mattcroberts commented on #51
I would find implicit reverse relations quite useful, in my app I use requirejs to load each "class", when defining a reverse relation each relation definition needs to specify the related model which causes a circular dependency.

I can provide an example if needed.

[2013-10-10 14:22] dhruvaray commented on #51
@mattcroberts : You can specify the circular dependency in requirejs as shown in #74. Is that the only reason you would want implicit reverse relations?

[2013-10-10 16:55] mattcroberts commented on #51
I've created a gist to demonstrate what I'm trying to do and with the approach you linked to which hasn't worked for me.

https://gist.github.com/mattcroberts/6921581

[2013-10-11 05:17] dhruvaray commented on #51
Here's the working version of your gist : https://gist.github.com/dhruvaray/6929867
With require.js, your functions would have to be like this for cycles

[code]

[2013-10-11 17:22] donato opened #75 "Should there be a parse option for sub models?"
Hi dhuvaray,

For one of my projects, I recently converted from Relational to Associations.
In general the change went like so :

Old : tableModel.set( json );
New: tableModel.set( json, {parse: true} );

With Relational, you can define a relation with the option "parse" which tells it to always parse when setting that sub-model. With associations, you need to state "parse: true" with each set, an

[2013-10-12 04:56] jdkanani commented on #75
You can also define `options` in relation.

[code]

Here is the [test case](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L2155-L2213).

Let me know if it works for you.

[2013-10-12 05:24] dhruvaray commented on #74
Just for completeness, In a require.js context, this is the code to handle circular dependencies

[code]

Complete gist is here : https://gist.github.com/dhruvaray/6929867. We will eventually call this issue out as a recipe in our documentation.

[2013-10-16 05:08] dhruvaray commented on #69
Please re-open if you think this needs further clarification...

[2013-10-16 05:08] #69 closed, assigned to dhruvaray

[2013-10-16 05:09] dhruvaray commented on #72
Can we assume that the issue is fixed for you? If you think otherwise, please re-open

[2013-10-16 05:09] #72 closed, assigned to dhruvaray

[2013-10-17 23:09] gdaybrice opened #77 "Error on IE8: "Object doesn't support this action""
Hello, I came across a JavaSript error while testing in IE8 at L51: "Object doesn't support this action"

Seems that the error is coming from `Object.defineProperty`

I'm adding the es5-shim and wondering if this is related to this issue: https://github.com/kriskowal/es5-shim/issues/5

Any possible workaround/shim available?

Thanks!
Brice

[2013-10-18 06:08] jdkanani commented on #77
I have [fixed](https://github.com/dhruvaray/backbone-associations/commit/f8e6d712aba3fdb83662ce4dbabcf4b5da8f7445) this bug by [adding getter/setter](https://github.com/dhruvaray/backbone-associations/blob/f8e6d712aba3fdb83662ce4dbabcf4b5da8f7445/backbone-associations.js#L51-L85) for older IE versions. Please use `getSeparator` and `setSeparator` functions to set `Separator` to support IE < 9.
Als

[2013-10-19 01:44] dhruvaray commented on #75
@DonatoB : I am closing this issue since we haven't heard back. I hope it resolves your doubt and your need to get an explanation (expressed via twitter) Please reopen if you want any further discussion...

[2013-10-19 01:44] #75 closed, assigned to dhruvaray

[2013-10-19 02:12] dhruvaray commented on #75
Added as a recipe to our documentation : http://dhruvaray.github.io/backbone-associations/recipes.html#tut-options

[2013-10-19 02:12] dhruvaray commented on #74
Added as a recipe to our documentation now : http://dhruvaray.github.io/backbone-associations/recipes.html#tut-rev2

[2013-10-20 23:09] gdaybrice commented on #77
The fix works perfectly, thanks so much Jaynti for looking at this so quickly, really appreciate it!

[2013-10-20 23:09] #77 closed, assigned to dhruvaray

[2013-10-21 06:31] filR commented on #55
http://www.tapestry.net/
We use backbone associations for our phonegap iOS, android and soon desktop app. Why do we use it? We'd be crazy not to.

[2013-10-21 09:04] dhruvaray commented on #55
@filR : Thank you! You made our day!

[2013-10-21 10:39] kosmotaur commented on #55
Hi!

We are using Backbone-associations at [Pearson's](http://www.pearson.com/) Data Analytics and Visualization team. The UI portion of the current project is for defining certain query parameters to get insight on English courses and how students do in them. There's lots of intertwined metadata to be stored on our models, and your library made it palatable, maintainable and pleasant to work with

[2013-10-21 11:55] dhruvaray commented on #55
@kosmotaur : Wow! It is an honor to be associated with all your efforts! Thank you so much for sharing this...

[2013-10-21 13:02] astjohn commented on #55
At [Sitata](http://www.sitata.com), we're currently migrating from Backbone Relational. The decision was made 100% based on the store concept, which didn't jive well with our existing patterns. Backbone associations is much simpler and hopefully won't introduce easy opportunities for our devs to create memory leaks.

[2013-10-21 13:08] dhruvaray commented on #55
@astjohn : Wonderful! I think you should not have any issues, but should you find something, please do file on the issue tracking system.

[2013-10-23 01:04] AlexRiedler opened #79 "Documentation for map function for 1:M associations."
I have a 1:M association (which is based on a list of ids); I tried overwrite the mapping function but I have no clue what to expect as arguments / return value.

For instance,
sometimes I get the first argument the list: `[1,7,9]` (on parse); sometimes I get [Item(),Item(),Item()], and sometimes I get Item()

what is expected return of this mapping function? I assumed it was the 2nd argument alwa

[2013-10-23 04:53] dhruvaray commented on #79
Did you take a look at these 2 recipes? Hopefully, they should give you the answer you seek.

http://dhruvaray.github.io/backbone-associations/recipes.html#tut-map
http://dhruvaray.github.io/backbone-associations/recipes.html#tut-map2

Can you share the snippet for the infinite loop scenario?

[2013-10-23 18:40] AlexRiedler commented on #79
I think I found a work around using the 2nd one of those; it did everything except handle one case.

My Fix was the following:

[code]

[2013-10-23 19:00] AlexRiedler commented on #79
After working with that code for a while, realized that does not work for when a product is added to the collection, needed this... (forgot the case where the 2nd argument happens to be the existing collection, and the first argument happens to be the newly added).

[code]

[2013-10-29 13:25] dhruvaray commented on #79
Your snippet looks right and it should solve your problem... I'll pull it out into a recipe sometime soon. I am closing this question, but please feel free to reach out with any other issues you may face.

[2013-10-29 13:25] #79 closed, assigned to dhruvaray

[2013-10-30 20:27] joeybaker commented on #72
Sorry, somehow I never got emailed when you commented. Apologies for the late reply. My issue isn't solved.

The reason I'm passing `wait: true` is because I've got `Backbone.sync` setup to save to a database, and I'd like to ensure the data actually saves before moving on. …Irrespective of that need though, it strikes me as "broken" that backbone-associations won't work with the `wait` option pas

[2013-10-31 14:12] jdkanani commented on #72
[Here](https://c9.io/jdkanani/demo-project) is the live demo for your code (with some changes for `mongodb`). You can use those files and run this code:

[code]

You can check behavior with and without `wait: true` flag. If you pass `wait` flag, Backbone doesn't set `data` to `model` before saving it to db. It will wait for `save` success.

In any case, If you fetch `model` from db immediately aft

[2013-10-31 16:16] joeybaker commented on #72
@jdkanani Sorry, I should have been more clear in my code. I've updated it to clarify. The race condition you specified is not the root cause.

[2013-11-01 10:04] jdkanani commented on #72
Backbone sets "proposed" attributes in `this.attributes`  temporarily before calling `toJSON` in save in case of `wait`.

[code]

As it sets `this.attributes` directly we can't have control over `set`.

`sync` method with `{wait: true}`:

[code]

I have added fix for this `toJSON` problem with [this commit](https://github.com/dhruvaray/backbone-associations/commit/64cd3e64a90bb6615d52dfd05e09659fc

[2013-11-04 15:40] chiplay opened #80 "Support for alternate 'idAttribute'"
Many of our models use a custom 'idAttribute' to represent the model's id per [Backbone's documentation](http://backbonejs.org/#Model-idAttribute).  I just realized there is an issue with Backbone-Associations and this feature after some digging.  On line 163 you set the idKey to the idAttribute (which defaults to 'id'):

[code]

Then on line 230 you check:

[code]

When you're using the default i

[2013-11-08 05:08] dhruvaray commented on #80
@chiplay : My apologies for the delay as I was on a vacation. Thanks for catching this. You are right!. I have put in the fix and the corresponding test case with this commit : 649910340b95d77c97fba4eda0d0c69775c8229c. Let me know if this works for you.

[2013-11-08 13:32] chiplay commented on #80
No worries - hope you had a good one!  That fix looks like it will do the trick. Thanks as always.

[2013-11-09 02:35] #80 closed, assigned to dhruvaray

[2013-11-18 12:27] Lugribossk opened #82 "Consider supporting getting/setting raw objects"
It would be nice if Associations supported setting nested raw objects, and not just nested models/collections, a la Backbone.DeepModel. That way you do not need to create models for everything deep object hierarchies, but can still use models for the places where it makes sense. Currently I'm working with some documents with deep object hierarchies and would like to move away from DeepModel to hav

[2013-11-19 22:54] aboudreault commented on #82
+1. I just tested the same thing. Could it be possible to access raw objects the same way than model? (dot notation)

[2013-11-20 02:51] dhruvaray commented on #82
This is not supported by Backbone-Associations in it's current form. While it is might be easy to support navigation by dot notation for nested json objects, event paths and bubbling may be non-trivial.

@Lugribossk : Why do you want to move away from DeepModel? I would like to understand your motivations before considering the feature.

[2013-11-20 09:18] Lugribossk commented on #82
I'm working with Models that represent some complex JSON documents with a lot of nested levels of objects. Currently I'm using DeepModel to support directly getting/setting deep properties on the model, which works fine. However I'd also like to have parts of the model be properly typed Collections of Models (e.g an invoice having a Collection of InvoiceLines, rather than just a list of raw object

[2013-11-20 12:22] aboudreault commented on #82
I have the same need. Something, the reprensentation of a model can have some deep attributes, but they are not necessarily an associatedmodel. We just want to thread it as usual with dot notation. Thanks

[2013-11-20 12:26] dhruvaray commented on #82
@aboudreault : Is it just about path navigation? Or also about being able to listen to (change) events with the full path for non-AssociatedModels?

[2013-11-20 12:38] aboudreault commented on #82
Being able to listen for events would be useful too. I suppose that this is not straightforward?

[2013-11-20 13:27] dhruvaray commented on #82
@Lugribossk, @aboudreault : I fear this would just replicate Backbone.DeepModel

[2013-11-20 13:34] Lugribossk commented on #82
Good point, I guess what I'm looking for is essentially one Model class that combines the features of AssociatedModel and DeepModel. Perhaps a better approach would be some way to hook the two together, so that their features don't end up being replicated, but they can still coexist?

[2013-11-20 13:37] aboudreault commented on #82
I wanted to use Backbone-Associations rather than Backbone-relationnal due to its performance. What I'm looking for is something that combines AssociatedModel with (DeepModel or Backbone-nested).... and at the final something that is compatible with Epoxy. This would be the best backbone model stack ;)

[2013-11-20 14:07] dhruvaray commented on #82
@Lugribossk : The way forward for you could be

[code]

Similarly for your invoice and invoice lines... Try it out and let me know if this works in your scenario.

[2013-11-20 14:09] dhruvaray commented on #82
@aboudreault : If you are coming in from Backbone.Relational, you already have the Model definitions. I would  encourage you to not mix it up with json blobs for attribute values. If you really need to do it, you can follow the approach I have suggested in the earlier comment.

[2013-11-20 14:29] dhruvaray commented on #82
@Lugribossk : Just as a note; WIth the earlier source snippet, you have 2 sources of truth. For read-only operations, you would be fine, but for write operations, you would have to keep both models in sync.

You could do something like

[code]

Needless to say, I would love to see you move to Backbone.Associations completely by defining a couple of extra models

[2013-11-20 15:01] johanneslumpe opened #83 "Caching of models to prevent duplicate instances of the same model"
Hi,

backbone-associations is working really well - thanks for that! One issue I have come across though is that if we have two entities, which both reference the same third entity, then they do not point to the same object when the entity is created.

For example:

Person "John" references House "TheHouse" as home.
Person "Mary" references House "TheHouse" as home

In this case even though both r

[2013-11-21 08:38] dhruvaray commented on #83
Thanks! As you have already pointed out in your updated answer, an application level solution is required. (Ditto for even the base Backbone framework). Your approach looks good to me...

[2013-11-21 19:03] Lugribossk commented on #82
@dhruvaray I'm already doing something similar with creating Collections, and then copying changes in them back into the original model. I was trying to get away from that approach by using Associations.

However that made me think of another idea. Do you think it would be possible to create an AssociatedModel subclass that automatically creates a new association when it encounters a model propert

[2013-11-22 05:29] dhruvaray commented on #82
I fear it would be too much of a deviation from a code perspective... Apart from a potentially huge proliferation of model definitions across model instances. That being said, if you can submit a working PR, I would be glad to take a look.

[2013-11-25 12:50] #83 closed, assigned to dhruvaray

[2013-11-25 12:51] #82 closed, assigned to dhruvaray

[2013-11-27 15:27] bazineta opened #84 "Pass options to models and collections?"
I must be missing something obvious here.

Is there a way to specify options to be passed to the models and collections created, i.e., that which ends up being the second parameter to a model or collection's initialize() function?

I have a top-level object which contains an object graph; as one traverses down the graph, the server will respond on URLs corresponding to the nested objects, in a man

[2013-11-28 08:53] dhruvaray commented on #84
Why do you say this? By the time you come to the initialize method, you should have the `AssociatedModel` instances already created. [`set` (which is responsible for creating the `AssociatedModel` instances) is called before `initialize` in the model constructor in BB]

From the `Department` `initialize` method

[code]

Am I missing something?

[2013-11-28 16:43] bazineta commented on #84
Thanks, looking at the recipe again, I see where I was falling into the issue; the collection didn't have a default url set, as it does in the example.  Setting one there, and a urlRoot on the contained objects, allows the subojects to be built properly, and they exist in the initialize routines.

However, the problem is, in my case that's too late to set the urls; the collection objects are alrea

[2013-11-29 12:24] jdkanani commented on #84
The following code snippet will do what you are looking for:

[code]

Load this snippet after `backbone-associations.js` and before your model initialization.

Here is the demo code that you can try out:

[code]

Let me know if it works for you.

[2013-12-04 01:33] dhruvaray commented on #84
@bazineta - Did this work for you?

[2013-12-04 02:32] bazineta commented on #84
Apologies for not responding to this sooner.  Not as yet in terms of patching the prototype object, but using the same logic in the extended models and collections down the hierarchy works, and is probably more suited for my particular application.  In short, binding it late is the key, and I was unaware of the awesome _.result(), function, thanks for the pointer.

[2013-12-04 06:35] dhruvaray commented on #84
Good to hear that... The snippet is a working example. So I am surprised that it did not work for you. In any case, we will pull it as a recipe on our website with a working jsfiddle shortly.

Do star us if you find the library useful in your work!

[2013-12-04 06:35] #84 closed, assigned to dhruvaray

[2013-12-05 03:58] jdkanani commented on #84
Great! I have already created [jsfiddle](http://jsfiddle.net/jdkanani/T2Ggf/) and [gist](https://gist.github.com/jdkanani/a22063f1a9567e21aee4) for this example.

Yup. It will also work.

Exactly, you also need `parents` property to construct model's `url`.

Enjoy!

[2013-12-05 04:01] aboudreault opened #87 "Associations with Stickit update problem"
I'm trying to use Backbone Associations with stickit. Here's my model and view:

[code]

The main issue is that when I change the errors.message value with model.set(), the 'val' value of the update fonction is an empty string(or undefined). I'm checked my update fonction, and the model argument receive is not my original model of LoginModel, but the submodel 'errors' defined with my relations. Is

[2013-12-05 13:21] aboudreault commented on #87
The issue is related to the following part...

[code]

which, doesn't care of the original _val_ argument receive and call getAttr.

[2013-12-05 15:10] chiplay commented on #87
I'm not sure if it will help solve the issue your having here - but we've forked stickit to work better with BB Associations: https://github.com/NYTimes/backbone.stickit/pull/180

[2013-12-05 15:19] jdkanani commented on #87
@chiplay It should work. I didn't look at stick-it code so closely but can't we just pass `val` value directly to `update` method?

@aboudreault  Here is the reason why backbone-associations doesn't work with this `getAttr` call:

[code]

Backbone-associations passes `changed model` while bubbling up events to parent models.
In callback of `observeModelEvent`, first argument will be instance of `E

[2013-12-05 15:22] aboudreault commented on #87
@jdkanani exact. stickit badly re-ask for the model value. That getAttr method should only use the val received, then continue its processing (onGet etc.)

[2013-12-05 15:22] aboudreault commented on #87
@chiplay Did you open a pull request for stickit?

[2013-12-05 15:27] jdkanani commented on #87
Or by changing

[code]

to

[code]

[2013-12-05 15:28] aboudreault commented on #87
@chiplay tested your stickit, but didn't solve my issue because the observeModelEvent is still doing a model.get() call, and te model is the submodel as @jdkanani explained so the value is undefined.

[2013-12-05 15:35] jdkanani commented on #87
@aboudreault  This one will do the trick.

[code]

[2013-12-05 15:41] aboudreault commented on #87
@jdkanani ah, well done. It works. @chiplay What applying the last change of @jdkanani in your own branch and asking for a pull request to the stickit owner? Would be something good to add to their official release.

[2013-12-05 16:00] chiplay commented on #87
Perfect! It actually allows me to remove my checks inside the getAttr method - since the original model will always been used - regardless of whether the binding is referencing a simple attribute, associated model or associated collection.  I'm leaving my other updates to the 'change:'+attr portion of the code - as you'll need them if you ever want to use an associated collection as a stickit bind

[2013-12-11 05:21] #87 closed, assigned to jdkanani

[2013-12-14 18:25] bazineta commented on #84
Adding to the solution here, a very nice functional mixin plugin:

https://github.com/rhysbrettbowen/Backbone.Advice

Using this approach, one can, for example, handle cases where models contain associated collections, which contain associated models, etc., down an arbitrary hierarchy, while keeping the logic in one spot:

[code]

[2013-12-17 15:08] ronen opened #88 "Backbone-associations much *slower* than backbone-relational in my use case!"
Hello,

I’ve been using backbone-relational and my app has been a bit sluggish.  Since backbone-relational has the reputation of being slow and since backbone-associations promises to be faster, I figured I’d switch over.  (The other potential benefits such as lack of a global store were certainly appealing too.)  But after making the switch…

Much to my dismay, with backbone-associations my app r

[2013-12-18 10:23] dhruvaray commented on #88
@ronen : I have mades some fixes to code which should help. In general, I should have been more observant about performance while adding features in the last couple of releases :(

The #s with the edge version of BB-Associations for your use case are @ http://jsperf.com/bb-associations-add-op/1

Recently, we introduced eventing with wild character (*) and nested-change events. If you are not inter

[2013-12-18 10:58] ronen commented on #88
@dhruvaray thanks for the quick response.  I'll try it out today.

As an aside, the ability to switch off wildcard and nested-changed events does seem handy -- but i'd imagine it'd be even more handy if they could be switched on per relation, so that they could be enabled where needed without paying the cost everywhere.  (This just mouthing off the top of my head -- I of course have no experience

[2013-12-19 01:15] ronen commented on #88
@dhruvaray i tried the edge code in my app, it's now no longer 5x slower -- but it's not any faster.  with

[code]

my informal timing tests  case are showing bb-assocaitions to be between the same speed and 10% slower than bb-relational.  If I turn those all on, it seems to be about 20% slower.

One thing that _might_ be contributing to that is that using bb-relational i'm taking advantage of exp

[2013-12-19 13:36] dhruvaray commented on #88
Thats' interesting. There might be other elements at play in your app - perhaps?

The jsperf results for the test case you gave yesterday show the following improvements

 http://jsperf.com/bb-associations-add-op/1 :  ~35-40% faster than bb-rel //All events in full glory
 http://jsperf.com/bb-associations-add-op/2 :  ~45-50% faster than bb-rel //No NC events and wild-card events
 http://jsperf.com

[2013-12-19 21:24] nickryall opened #89 "1:M Relationship - Child Model has no reference to parent"
When creating a simple 1:M relationship the child models parents array is empty.

[2013-12-20 00:01] ronen commented on #88
Indeed there might be other elements at play.  I'm trying to make the minimal changes possible between using BB-Associations and BB-Relational to make it a fair comparison, but it's hard to do that 100% because of the lack of reverse relations.

Anyway after some more tweaking (including the reverse-relations workaround) I'm seeing perhaps 10% speedup for the `set` portion of my app, but the heavy

[2013-12-20 00:54] ronen commented on #51
Since I've been mentioning reverse relations in #88 and #91, I figured I'd add my thoughts to this thread.
- _Why do I want reverse relations?_  I've got various cases with a One-to-Many relationship where I start from the _One_ model and render each of its _Many_ models so I need the forward Many relationship.  But properly rendering each of the _Many_ models requires accessing some attributes of

[2013-12-20 06:46] dhruvaray commented on #89
As an example, if your collection contains projects, then you can infer **a** project's parents from the `model.collection` property

[code]

[2013-12-24 13:47] #89 closed, assigned to dhruvaray

[2013-12-25 07:49] dhruvaray commented on #88
I hope you are have set Backbone.Associations.EVENTS_BUBBLE = false. As far as I can remember, BB-rel does not bubble events beyond the immediate level.

I wrote a quick jsfiddle with add/set and rev-rel

Here's a jsfiddle with add + rev-rel (standard bb-rel example) : http://jsperf.com/rev-rel/2
Here's a jsfiddle with set + rev-rel (standard bb-rel example) : http://jsperf.com/rev-rel/3

I am not

[2013-12-25 07:51] dhruvaray commented on #88
You can achieve this by passing {silent:true} in the options param for set/add operations - at an instance level granularity.

[2013-12-30 13:39] ronen commented on #88
FYI with #92 giving an implementation of BB-Associations with "native support" for reverse keys, I will see if I can revisit the timing comparison of BB-Relational vs BB-Assocaitions in my app.

[2013-12-31 18:47] jpslav opened #93 "Possible to set collection parents before adding items to collection in Many relation?"
Howdy -

In the source, when setting up a Many relation, it looks like the `parents` property of a collection in a `Many` relation is set after the contents of the collection are set (roughly lines 286 and 234, respectively).

Would it be feasible to assign the parents first and set the contents second?

I have a Model `A` that has many `B`s and `C`s.  Each `C` can reference many `B`s (something o

[2014-01-01 06:09] dhruvaray commented on #93
Thanks!

It may be difficult to do in the form you ask... Would this work for you?

Pass in options - `{sort:false}` when you call the set/add method. On completion of the set/add operation, you can do C.sort() (in your code) which would always work as the graph would be completely set up.

[2014-01-01 15:49] jpslav commented on #93
I don't think I can pass in `{sort: false}` because the setting/adding of the `B`s and `C`s is happening during the initial loading of a larger nested JSON document, e.g.

[code]

So I'm creating an `L` model passing in this bigger document, meaning the sets/adds are happening inside backbone-associations.

I have for the moment done something similar to what you suggested though.  My comparator e

[2014-01-02 04:06] dhruvaray commented on #93
I agree... I have just made a commit which set's the parents earlier. Can you try it an let me know?

[2014-01-03 01:53] jpslav commented on #93
Thanks for the commit.  I tried it and it does indeed set the collection's parent before adding models to it, _but_ when I ran it I realized that this fix doesn't really get me where I am trying to go.

The `set` / `_set` / `_setAttr` code looks to be setting up the models with a depth-first approach (which makes sense) -- a model's relations are built up and then set on that model in the last lin

[2014-01-03 02:44] jpslav commented on #93
I was also just looking at how the code sometimes sets `_deferEvents` to true.  Thought maybe that adding that right after `data = collectionType ? new collectionType() : this._createCollection(relatedModel);` could help me out (letting me attach to events after everything loaded) but I haven't had luck with this.

[2014-01-03 12:10] dhruvaray commented on #93
The _deferEvents is only to make sure that events are not fired until the entire update is done

Yes. So it is not really that useful. So I am going to revert back that change.

Sorry...Don't see that happening!

Why don't you build up your graph in stages (via 2/3 set operations). First `set` the A's on L. Then the B's and C's can be `set` simultaneously on A (assuming B & Cs are siblings of A)

[2014-01-03 19:53] jpslav commented on #93
Thanks, @dhruvaray.  Totally agree that a 2-pass solution (or something similar) is not in the cards.

Re the suggestion to build up the graph in stages, my preference is just to create the top-level parent giving it the entire object graph and have it (and its children and so on) build up the required instances all at once.  And thanks to you for making this library so I can do that :-)

FWIW, I

[2014-01-05 10:31] gorman opened #95 ""keySource" functionality"
I'm coming from Backbone Relational and currently make heavy use of keySource (http://backbonerelational.org/#relations-keySource). I'm curious if there are thoughts on implementing similar functionality into Backbone Associations. My use case mirrors the documentation I linked to; my API provides "comment_ids" that I want to map to comment models and ultimately be able to access through user.get(

[2014-01-07 08:13] dhruvaray commented on #93
@jpslav : You are right... I am going to call this out as a recipe in the upcoming release.

[2014-01-07 08:27] dhruvaray commented on #95
Thanks! I am a little uncomfortable with this feature. Wouldn't a simple `parse` override solve the problem for you?

[2014-01-07 17:19] jpslav commented on #93
Great, thanks @dhruvaray

[2014-01-07 19:26] gorman commented on #95
The problem isn't so much re-mapping the fields (as you said, a simple parse would do the trick), it's that "comment_ids" is just an array of IDs that need to be linked up with models in other collections. It looks like Backbone Relational keeps an internal store of collections/models and is able to find the model to associate based on the collection/model ID using that internal store.

Being able

[2014-01-08 01:46] #93 closed, assigned to dhruvaray

[2014-01-08 04:39] dhruvaray commented on #95
I don't want to go there with Backbone-associations. I want the store to be part of the application concern (management and maintenance). BB-Associations will focus only on setup of object graphs and eventing in object hierarchies (not present in BB-relational)

[2014-01-08 04:40] #95 closed, assigned to dhruvaray

[2014-01-09 01:50] USvER opened #96 "Alternative to includeInJSON from backbone-relational plugin?"
I have started to port my project from backbone-relational... but can't find any way to mimic includeInJSON option
PS More info here: #97

[2014-01-09 02:10] USvER opened #97 "1:1 association idAttribute as string"
I have this models

[code]

So when i fetch prices i get this:

[code]

And using this plugin i get this object

[code]

How to mimic idAttribute\includeInJSON strategy of backbone-relational plugin #97

[2014-01-09 06:03] dhruvaray commented on #96
On the edge version, you can use the isTransient flag (introduced via issue #78  & #85)

[2014-01-09 06:11] USvER commented on #96
Thanks... I guess this is what i needed...
I have stopped refactoring to associations plugin for now... Reading the docs didn't give me confidence that i can successfuly port my project... Key functions is missing or i just don't know how to implement them...

[2014-01-09 06:25] USvER commented on #96
@dhruvaray I know that my #97 is a newbie question, but please can you help me to properly implement map function?
Or maybe isTransient flag will solve both issues?

[2014-01-09 06:39] dhruvaray commented on #97
I get this with your example

[code]

Am I missing something?

[2014-01-09 06:45] USvER commented on #97
Thank you...
That's odd... will look more deeply into it

[2014-01-09 08:54] dhruvaray commented on #97
The problem may be that you are passing in an atomic value (instead of an associated model) for currency in your code snippet

[code]

[2014-01-09 08:56] USvER commented on #97
That's how i get the data from the server... Just an ID...

[2014-01-09 09:00] dhruvaray commented on #96
Please don't expect a drop-in replacement for Backbone-Relational. There are differences in philosophies, approach and feature sets. See #32 for further details.

[2014-01-09 09:06] dhruvaray commented on #97
This recipe : http://dhruvaray.github.io/backbone-associations/recipes.html#tut-map should help you do the mapping from ID to instance

[2014-01-09 09:14] USvER commented on #97
Ah... so it should be done manualy, i need to have already populated collection... now i see what is wrong with my code...

[2014-01-09 09:25] #96 closed, assigned to dhruvaray

[2014-01-09 09:40] #97 closed, assigned to dhruvaray

[2014-01-14 00:17] rochal commented on #10
Is there a way to get this relationship set automatically when employees array is parsed into a Backbone collection? This is useful when you parse JSON into Backbone Association model and want all employees to have reference to the company they work in.

[2014-01-14 02:14] dhruvaray commented on #10
You can navigate to company via parents - emp.collection.parents[0]

[2014-01-15 18:10] yosiat opened #98 "Add support for changing model/collection scope"
Hi,

When I am using in relatedKey/collectionType with string value the map2scope function is searching those types under window (which the root in the browser).

I would like to add ability to add scopes like backbone-relational, to solve this case.

I can submit pull request, if this feature is wanted :)

[2014-01-16 04:55] dhruvaray commented on #98
Sure... I would like to see your solution adapted to BB-Associations (non-store). Please do submit your PR!

[2014-01-16 12:41] yosiat opened #99 "RelatedModel id isn't inherited on One to One relationship"
Hi,
I am trying to set up one to one relationship with backbone-associations,
and I can't fetch the related model, I found the reason for that, the id isn't set for my related model, so backbone returns me the root url instead of the url.

Here is some code, that reproduce it.

[code]

Why the url of module A isn't "http://test/a/1" and is id isn't set?
Is it a bug or I am using one to one associa

[2014-01-16 12:44] yosiat commented on #98
I didn't wrote the code yet :) so before I do, what do you think about this API?

[code]

[2014-01-16 12:48] yosiat commented on #99
If this is a bug, I have thought a way for fixing this, after creating the relatedModel instance, we can set the id.

https://github.com/dhruvaray/backbone-associations/blob/master/backbone-associations.js#L243

[code]

[2014-01-16 15:47] jdkanani commented on #99
I think you misspelled your object here.

[code]

It should be like:

[code]

Backbone-Associations follows same convention as Backbone.
Here is simple backbone model `idAttribute` and `url` example for brevity.

[code]

Hope it helps.

[2014-01-16 16:06] jdkanani commented on #98
That looks great!
You can also add `Backbone.Associations.resetScope` to remove all scopes (or may be use `removeScope` without argument to reset scopes - this may be risky). What do you think @dhruvaray?

[2014-01-16 16:41] yosiat commented on #99
@jdkanani , If you get bmodel from the server, it won't have that hierarchy, it will have only the id as string, like this -
A: "1"

[2014-01-16 21:16] yosiat opened #100 "Add support for includeInJSON"
Hi,
I moved from backbone-relational to backbone-associations, and they had a really great feature - includeInJson.

You could specify that you want only one attribute from the related model/collection and not the whole model/collection.

I really needed it, so I changed Backbone.AssociatedModel toJSON method, to support this.
What do you think? and If you like it I will send PR.

[code]

[2014-01-17 04:34] dhruvaray commented on #98
@jdkanani : What about something simpler like this? @yosy : Your thoughts?

[code]

[2014-01-17 05:51] jdkanani commented on #99
For that you should use map feature of Backbone-Associations. Please refer issue: #97
Here is the recipe what you are looking for: http://dhruvaray.github.io/backbone-associations/recipes.html#tut-map

[2014-01-17 06:03] dhruvaray commented on #100
From v0.5.5+, we have a flag called isTransient to achieve this. See Issue #78 & #85

[2014-01-17 10:03] yosiat commented on #99
Hi @jdkanani ,
I have changed my code to use the map function, but why backbone-associations dosen't resolve this by it's own?
I really hope this pattern of :

[code]

won't be repeated in my code.

[2014-01-17 10:03] #99 closed, assigned to jdkanani

[2014-01-17 10:13] yosiat commented on #100
Hi @dhruvaray ,
How isTransient helps me? I saw it didn't serialized the model at all, while I needed the id only..

[2014-01-17 10:40] yosiat commented on #98
@dhruvaray it looks pretty much long :) and the "scope" property will be the same for all of my application models.

I like my lines small as possible, I would like at top of my models file - just write one line at that's it - Backbone.Associations.addScope(MyApp.Models);

[2014-01-17 10:43] dhruvaray commented on #99
Because Backbone-Associations does not have an internal store. It leaves it for the application to manage. You can parameterize that function so that it can work in multiple contexts.

[2014-01-17 10:45] dhruvaray commented on #98
Ok... Please do put in your PR with some test cases...

[2014-01-17 12:09] yosiat commented on #98
@dhruvaray , I started to write my tests and then the code.. and saw there is already the feature you suggested, defining the scope in the relation.

If this is already implemented I don't see a reason for creating addScope/removeScope/resetScopes.

What do you think @dhruvaray @jdkanani ?

[2014-01-17 12:46] dhruvaray commented on #98
I thought it would be nice to have the scope spelt out in the context of defining a relation. However, the methods you suggest would do it globally for all relations. Can both co-exist?

[2014-01-17 12:47] yosiat commented on #98
We can say if the relation has already a scope only this scope will be searched, otherwise we will look at the scopes the user added.

[2014-01-17 12:48] dhruvaray commented on #100
Sorry... I missed your point. Is it just an attribute or a (sub)set of attributes?

[2014-01-17 12:54] yosiat commented on #100
I didn't understand you question but here is an example -

[code]

_I wrote the in the github comment and didn't tested it, but the idea should be right_

[2014-01-22 15:01] aboudreault opened #101 "autoFetch option ?"
It would be nice to have some kind of  an autoFetch option in BB-association. I use it with api, and my api is using a lot of references. ie.

[code]

The author field is a AuthorModel, which also has its own api endpoint. I'm wondering this couldn't be a a feature of the lookup transformation. We should be able to return a promise of something.

@dhruvaray do you think it could be a good addition

[2014-01-23 12:58] dhruvaray commented on #101
It may introduce other complications such as whether the whole graph should be lazily fetched or otherwise... In any case, if you submit a PR, I can definitely take a look to access your idea!

[2014-01-23 13:05] dhruvaray commented on #100
My apologies for the delay in getting back to you. I was referring to the includeInJSON possibilities from BB-Relational documentation : http://backbonerelational.org/#relations-includeInJSON

[2014-01-23 13:24] aboudreault commented on #101
Yeah. I have been force to do something custom, with sub classing, for that reason.

[2014-01-23 15:25] asheriff commented on #55
At [Vaddio](http://www.vaddio.com/) after evaluating several relational plugins we chose backbone-associations to build real-time web interfaces for audio and video devices running embedded linux. Thanks for this plugin.

[2014-01-24 04:49] dhruvaray commented on #55
Thanks @asheriff for sharing this! We are honored...

[2014-01-31 01:14] ronen commented on #88
I found myself in a quandary...
- with EVENTS_BUBBLE = true, my app would grind to a halt because of the size and interconnectedness of the graph (especially including reverse relations), there'd be zillions of bubbles for every trigger.
- But with EVENTS_BUBBLE = false I didn't have at least the immediate level of event bubbling as per BB-rel, which is something I use heavily.  I considered putti

[2014-01-31 09:34] #101 closed, assigned to dhruvaray

[2014-02-03 21:34] johanneslumpe opened #102 "Passing a function for `collectionType`"
I've notived that when we implement `relatedModel` as a function bb-associations will call it to receive the constructor function for the related model:

[code]

 If we do the same thing for `collectionType` it is assumed that the function provided is actually already a constructor. First there is only a check whether `collectionType` is a string:

[code]

And then the function is automatically tr

[2014-02-04 17:01] logankoester commented on #55
At [DanceSafe](http://dancesafe.org/) we are using Backbone-Associations in our [Android mobile app](https://play.google.com/store/apps/details?id=com.dancesafe.mobile) to provide drug safety & harm reduction information to the rave & nightclub community.

[2014-02-05 04:16] jdkanani commented on #102
`collectionType` should always returns collection constructor. If you need custom instance, use `relatedModel` as function.

`collectionType` is for exceptional condition where you want your own collection class(type) to be initiate as part of nested models. _Why do I ever need this?_  see this explanation https://github.com/dhruvaray/backbone-associations/issues/52

Hope this helps!

[2014-02-05 04:21] jdkanani commented on #55
Wow! Thank you @logankoester

[2014-02-05 07:08] johanneslumpe commented on #102
@jdkanani that is exactly the point :) I need a custom collection type since my base collection deals with caching of models. Apart from that I like to define custom methods on my collections, too.

I should mention that I develop in node and later pack using browserify. And I am not keen on using a global object. Passing a function to the `collectionType` helps mitigating the need for a global st

[2014-02-05 07:52] dhruvaray commented on #102
@johanneslumpe : You may want to see issue #74 and associated recipes. You should not need a global string for resolving circular dependencies!

[2014-02-05 08:12] johanneslumpe commented on #102
@dhruvaray Yeah I have seen those recipes and I'm doing exactly that for `relatedModel`s. I am just proposing to change the behavior of `collectionType` to be similar the the behavior of `relatedModel`.
The recipe uses a string reference in the first example and a function in the second, like this:

[code]

For a `collectionType` doing this is not possible:

[code]

because `collectionType` is exp

[2014-02-05 13:57] jdkanani commented on #102
@johanneslumpe I agree. Will implement it very soon. Thanks.

[2014-02-05 21:53] AlexRiedler opened #103 "Parsing on parent's fetch/save; potential inconsistency"
In a 1:M relationship, in the initial fetch parse is not ran on the underlying relationship.

e.g. Consider a store with products:
`{ id: 7, products: [6,9,10] }`

the `[6,9,10]` is not parsed and is passed straight into the mapping function provided on the relationship.

However,
if i did something like store.save({'name': 'Jims'}); and the server returned:
`{ id: 7, name: 'Jims', products: [6,9,

[2014-02-06 16:58] johanneslumpe opened #104 "Explicit belongsTo relationships"
Currently I'm using a normal `Backbone.One` relationship for a `belongsTo` relation, even though that's not really correct, since it messes with the `parents` part. Why am I doing this? Consider the following example: We have a model `House` and a model `User`. Each `House` has a relation `ownedBy`, which refers to a `User`. Because of this there will be an entry in the `parents` array of the `Use

[2014-02-10 14:24] dhruvaray commented on #88
@ronen : Thank you for your contribution and your patience!

I have been caught up last month and my responses haven't been as prompt as I would have liked them to be :(

I agree with you that the optimal way would be to avoid bubbling events if no one was listening to them. As you have pointed out, nested-change is difficult to handle. If you ignore this case, then I have made some minor changes

[2014-02-12 05:49] dhruvaray commented on #104
@johanneslumpe : Sorry for the delay in response. The semantics of `parents` property is purely in terms of the linkages in the object graph. I would not extrapolate any application-level semantics to it.

[2014-02-12 08:11] dhruvaray commented on #103
@AlexRiedler : Sorry for the delay in reply.

In Backbone, the call to `set` (in model) and `add` (in collection) is called after the parse operation (if provided). So I am not sure I understand your problem. Would it be possible for you to demonstrate via a test case?

[2014-02-12 20:26] AlexRiedler commented on #103
@dhruvaray I think it is cause on initial creation of the collection parse is not called; but on a reset or set it is. I will see if I can get around to writing a test-case for this.

[2014-02-13 04:03] dhruvaray commented on #103
If you don't want it to parse, you can always pass in {parse:false} in options - even with the current BB-Associations implementation

[code]

See this [test case](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L2680-L2738).

[2014-02-13 06:34] dhruvaray commented on #102
@johanneslumpe : Implemented via commit - 44f1af2a3977c07c1184f482b983e127665a6fbc. Let me know if this works for you.

[2014-02-13 12:37] dhruvaray commented on #98
@yosy : This commit adds the search in global scopes. (with precedence to local scope)
@jdkanani : I have kept it as a simple array for now (rather than the 3 methods). Hope that's good.

[2014-02-13 12:38] dhruvaray commented on #98
Test case [here](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L1270-L1322)...

[2014-02-13 12:53] johanneslumpe commented on #104
@dhruvaray Ah ok, then this shouldn't be an issue :) Thanks for clarifying!

[2014-02-13 12:53] #104 closed, assigned to dhruvaray

[2014-02-13 12:54] johanneslumpe commented on #102
@dhruvaray I will check it as soon as possible and report back!

[2014-02-13 21:27] svperfecta commented on #55
If @logankoester uses it, it's good enough for me.  We use it here for client work @madgloryint

[2014-02-13 21:45] logankoester commented on #55
:cactus: :pineapple: :yum:

[2014-02-14 00:51] dhruvaray commented on #100
@yosy : With f3250fd, you can now serialize a subset of attributes:

Use serialize to set the subset of attributes you want to serialize.
Use isTransient to ignore the attribute altogether.

[code]

[2014-02-14 00:55] dhruvaray commented on #102
@johanneslumpe : Here's a test case to get you started:

[code]

[2014-02-14 01:16] dhruvaray commented on #55
Great to hear that @genexp!

[2014-02-14 02:47] jdkanani commented on #55
@genexp :+1:

[2014-02-14 02:54] jdkanani commented on #98
@dhruvaray Looks great! An question though - Doesn't it make difficult to delete scope?

[2014-02-14 04:35] dhruvaray commented on #98
@jdkanani : I thought about that while doing the change. Intuitively, I felt that
- There would not be too many entries in the global scope list
- The lifetime of the scopes would be concomitant with that of the application or module
- A new module instance would add to the scopes or reset it

That being said, based on actual usage from end-users, it would be trivial to add these API(s) - should t

[2014-02-14 05:28] jdkanani commented on #98
@dhruvaray okay. @yosy What do you think?

[2014-02-14 07:12] johanneslumpe commented on #102
@dhruvaray  haha thanks, but I've got all my stuff already set up :) I just didn't yet have time to change the function I'm passing from returning an instance (to kind of hot fix the old behavior) to returning just the constructor function. But I assume that it will just work fine.

[2014-02-16 20:25] johanneslumpe commented on #102
@dhruvaray Mind pushing a patch release to npm? :)

[2014-02-17 05:01] dhruvaray commented on #102
Yes... It will go with the next release (soon!) to npm

[2014-02-17 05:01] #102 closed, assigned to jdkanani

[2014-02-18 02:10] #100 closed, assigned to dhruvaray

[2014-02-18 02:11] #98 closed, assigned to dhruvaray

[2014-02-19 13:58] dhruvaray commented on #102
New release out! (and on npm)

[2014-02-19 17:18] johanneslumpe commented on #102
:+1:

[2014-02-19 22:42] johanneslumpe opened #108 "No module.exports anymore"
With the newest release backbone associations does not export anything anymore (apart from an empty object). What's the reasoning behind this decision?

[2014-02-20 09:46] jdkanani commented on #108
Backbone-associations attaches extra properties to Backbone. It is not a module that exports a new object like Backbone does.

That was the reasoning to remove it. On hindsight, for backward compatibility, it may be prudent to keep the old behavior - should some use it as `Backbone = require('backbone-associations)`

We could export `Backbone` OR `Backbone.Associations` (makes more sense?) or an e

[2014-02-23 06:27] dhruvaray commented on #108
Pushed out v0.6.1 on npm...

[2014-02-24 10:04] janispauls opened #110 "Is there a way to pass options to the related collection?"
Like http://backbonerelational.org/#relations-collectionOptions

[2014-02-24 12:41] dhruvaray commented on #88
Here are the fiddle's updated for v0.6.1

Here's a jsfiddle with add + rev-rel (standard bb-rel example) : http://jsperf.com/rev-rel/4
Here's a jsfiddle with set + rev-rel (standard bb-rel example) : http://jsperf.com/rev-rel/5

And the updated documentation page is @ http://dhruvaray.github.io/backbone-associations/speed.html

[2014-02-24 12:41] #88 closed, assigned to dhruvaray

[2014-02-24 12:45] dhruvaray commented on #103
Did this help?

[2014-02-24 13:29] #108 closed, assigned to jdkanani

[2014-02-25 05:58] dhruvaray commented on #110
I have just pushed in a commit -  d66904085b89ba8e558358cf958fef7f5332a938 - which will achieve what you want. See the associated test case and let me know if this works for you...

[2014-02-25 07:33] dhruvaray commented on #110
Closing this as I am moving the discussion to related issue #109

[2014-02-25 07:33] #110 closed, assigned to dhruvaray

[2014-02-26 02:09] #103 closed, assigned to dhruvaray

[2014-03-06 00:13] sdemjanenko opened #120 "Bad call to _createCollection"
When using the collectionType attribute for a relation the _createCollection is passed the options: {model: undefined}.  The collection I linked to in collectionType already has the model set.  The options then override that model and I get an error.

An ugly fix is:

[code]

[2014-03-07 05:54] dhruvaray commented on #120
This should fix the problem... Let me know if it works for you.

[2014-03-07 15:33] sarink commented on #10
And if something has multiple parents? How do you know which index in the array?

[2014-03-07 15:49] sarink opened #121 "Accessing related model's property in initialize"
How is one supposed to achieve utilizing a reverse relationship to a parent inside the child's initialize? This is how I've tried to do it...

<pre>
var Store = Backbone.AssociatedModel.extend({
   defaults: {
      some: "stuff"
   },
   relations: [{
      type: Backbone.Many,
      key: "products",
      collectionType: ProductList
   }],
   parse: function(response, options) {
      _.each(res

[2014-03-10 13:25] #120 closed, assigned to dhruvaray

[2014-03-10 13:33] dhruvaray commented on #121
The solution seems to be to override the constructor... Seems similar to issue #93. Let me know if that approach works for you?

[2014-03-11 02:00] sarink commented on #121
If the related model's attributes are empty inside of initialize, they'll also be empty in the constructor. I'm not trying to set up a listener on the parent, but rather access an attribute of the parent, from within the child's initialize.

something like..

<pre>
var Product = Backbone.AssociatedModel.extend({
   initialize: function() {
      this.get("store").get("state");
   }
});
</pre>

As

[2014-03-11 20:58] chiplay opened #122 "Fetch with remove:false"
I have a model that I'm fetching and it has a 1-to-M collection of "Products" and a 1-to-M collection of "Refinements" which are models with their own 1-to-M collection of "Products".  If I run the fetch with { remove: false } set (typically a collection fetch flag) - it honors it for the first level collection relationship, but not the nested relationship - it adds duplicate products to that coll

[2014-03-11 23:36] sarink commented on #121
OK, a child not being able to read its parents attributes.... I find it hard to believe that this is a missing feature, but I really cannot figure out how to do it.

This is supported, right? How?!

[2014-03-12 21:32] chiplay commented on #122
hold the presses - fixed by changing my polymorphic relatedModel to a collectionType function - which I'm assuming better handles the idAttribute parsing in Backbone.  Cheers!

[2014-03-12 21:32] #122 closed, assigned to dhruvaray

[2014-03-13 00:52] chiplay opened #123 "0.6.2 ETA"
Hey @dhruvaray - looking forward to using some of the updates that have been added to master recently but I'd perfer to wait until it gets tagged for our bower setup.  Any ideas when you think the next release will happen?  Thanks!

[2014-03-13 12:25] dhruvaray commented on #121
@sarink : Was caught up with other things... I had a look at your example.

You can achieve what you want with the code snippet below

[code]

[2014-03-13 12:26] dhruvaray commented on #123
Hopefully this weekend!

[2014-03-13 12:26] #123 closed, assigned to dhruvaray

[2014-03-13 12:31] dhruvaray commented on #122
@chiplay : Thanks! You saved me some debugging effort! Generally speaking, it helps to send over some code (failing test) with the issue. So it's easy for me to quickly debug thru. Otherwise, I need to write out the boiler plate code... A small request for future issues (hopefully less :))

[2014-03-13 14:26] sarink commented on #121
@dhruvaray, what if the products are fetch()ed with the store?

<pre>
var store = new Store();
store.fetch() // response: {id: 1, state: "MN", products: [{id: 1, name: "Capn Crunch"}, {...}] }
</pre>

In this case, the backwards relationship to go from a product to its store must happen in Store.parse, as in my original example. And then, product.parents[0] = store, BUT it is an empty store (the o

[2014-03-13 17:25] dhruvaray commented on #121
For the fetch scenario, you can make it work like this

[code]

[2014-03-13 18:02] chiplay commented on #122
@dhruvaray can do!

[2014-03-13 21:58] fenduru opened #124 "Why must my child be an AssociatedModel in 1:1"
When creating an AssociatedModel, specifying a Backbone.Model as the relatedModel gives an error, but its okay to specify a normal Backbone.Collection for 1:M. What's the reasoning here? It makes it hard for me to use Associations in an ecosystem where I don't have control of all of the models I'm using

[2014-03-14 12:02] dhruvaray commented on #124
A collection by default is a container for many models. So there was no reason to specialize it. But `AssociatedModel` forms the basis for specifying the nature of relationships (1:1 and 1:M) with it's children (and their type too). Without that supplement, it would be difficult to infer types and the nature of the relationships. That being said, if you have any alternative ways, we could handle i

[2014-03-14 12:08] dhruvaray commented on #121
Also, the traversal is built via a depth-first traversal, so you may not have parent's completely built up in a child's initialize/constructor. Can you also elaborate on what you are trying to achieve? Maybe there is an alternative?

[2014-03-14 16:01] fenduru commented on #124
I understand the need for AssociatedModel in general, but what I am asking is why I can't have an AssociatedModel that has 1 Backbone.Model? If there is no technical reason for this I'll gladly submit a PR, but wanted to be sure first.

[2014-03-14 16:34] dhruvaray commented on #124
I am not sure I follow you. Can you put out some pseudo code on what you are trying to achieve?

[2014-03-14 18:07] fenduru commented on #124
http://jsfiddle.net/2F65W/

[2014-03-15 06:10] dhruvaray commented on #124
Ok... But I suspect that this would be useful in only in a limited scenarios (leaf level of the graph only).A PR with a test case would be appreciated!

[2014-03-15 15:15] fenduru commented on #124
Gladly. Only thing is I'm running into some odd behavior in the test suite.

[code]

is returning true in the test suite, but is false in reality, so I can't get my tests to fail.

[2014-03-17 09:16] dhruvaray commented on #124
That may be because of environment.js... You may have to use [Backbone.OriginalModel](https://github.com/dhruvaray/backbone-associations/blob/master/test/backbone/environment.js#L34)

[2014-03-17 16:59] janispauls opened #125 "Is it or will it be possible to make recursive relations?"
Example - http://jsfiddle.net/janispauls/PB62k/

[2014-03-17 17:09] jdkanani commented on #125
Not automatically. But possible:

[code]

[2014-03-17 17:11] sarink commented on #121
Let's say, for example...

If the store is in state "NY", then a product should append its calories to its name.

So Product.initialize would look like

<pre>
if (this.get("store").get("state") === "NY") this.set("name", this.get("name") + " - " + this.get("calories");
</pre>

Perhaps you'd argue this logic is OK to be placed inside ProductView, or even in the view's template. But let's say you've

[2014-03-17 17:19] jdkanani commented on #125
Full snippet would be:

[code]

Let me know if it helps.

[2014-03-17 17:28] janispauls commented on #125
Thank you.
I was trying to put 'relations' key as a function not 'relatedModel'. Seems it will work fine.

[2014-03-17 17:29] jdkanani commented on #124
@fenduru @dhruvaray It was supported [before v0.5.2](https://github.com/dhruvaray/backbone-associations/compare/v0.5.1...v0.5.2#diff-3336e14dadeb5f8353ac7e5f5ebb571cR204). I am not sure why we removed it. But of course adding it back would be great.

[2014-03-17 17:30] jdkanani commented on #125
:thumbsup:

[2014-03-17 17:30] #125 closed, assigned to jdkanani

[2014-03-18 05:08] dhruvaray commented on #121
Given our depth-first traversal, your specific use case can be modeled much more easily. See the snippet below.

[code]

What do you think?

PS:
- I would also like to retain the logic in the model (if possible) than the view.
- Generally speaking, you would **have** to put a listener in for the change in `state` attribute. A one-time processing of state change in `initialize` also will not cut it

[2014-03-18 06:04] sarink commented on #121
Doing it that way is alright, but... It really _should_ be the Product model's job itself to do such a thing, rather than having the logic live in the parent Store model. Don't you think?

Consider a case where the logic is more complex? Maybe the value of name now depends on store.state, as well as a property of one of the products children? Or even a grandchild's property? ...

It just seems lik

[2014-03-18 11:14] jdkanani commented on #121
@sarink That's right. What do you suggest to solve this problem? Any idea?

[2014-03-18 14:41] sarink commented on #121
I've thought a bit about this, but not too hard, so that's my disclaimer in case these suck:
1. Somehow force the developer to define the order that models should be initialized. I'm not sure of a pretty/clean/nice high-level way to represent this, though.
2. Have every AssociatedModel trigger a generic catch-all "setupComplete" event, or something similar. Devs would simply write any dependent co

[2014-03-18 17:32] jdkanani commented on #121
1. Not sure how to do so
2. I found more appropriate. We can make it as method instead of event.
3. Magical but tricky.

@dhruvaray what do you think?

[2014-03-18 18:19] sarink commented on #121
(My own opinions:
1. Don't really like it, just threw it out there
2. Straight forward, probably not too hard. A decent solution.
3. My personal favorite. But definitely tricky, yes.)

[2014-03-21 18:56] AoDev opened #126 "Missing comma in 1:M doc example code"
At collectionType  line. (I did copy paste and got the error)

[code]

[2014-03-22 00:14] gr2m opened #127 "preventing relations key from being stored on AssociatedModel"
I've a Meeting & a Minute model, as well as a MinutesCollection. Here's my setup, everything works great so far.

[code]

On save, I'd not like a meeting model to store the minutes as a property, as I store them separately. I achieve that currently by overiding the `toJSON()` method like so:

[code]

That works, but I just want to make double sure that this is the right way to do it and that there

[2014-03-22 09:45] dhruvaray commented on #126
Thanks for catching the typo. The fix to the documentation is up!

[2014-03-22 09:45] #126 closed, assigned to dhruvaray

[2014-03-22 09:53] dhruvaray commented on #127
Nothing wrong with what you are doing, but you can do it far more easily like this

[code]

[2014-03-22 10:34] dhruvaray commented on #124
@fenduru : I didn't hear back from you. So I made the changes. You should now be able to set the `relatedModel` to plain 'ol `Backbone.Models` as well. See the test case [here](https://github.com/dhruvaray/backbone-associations/commit/455653b2f4e59738cb1eb46502d51d8d7972b290#diff-470ce3d8e231803affbdab621a95e1e2R1699)  and [here](https://github.com/dhruvaray/backbone-associations/commit/799a224f7e

[2014-03-22 10:39] gr2m commented on #127
that's what I was looking for, most excellent! Thanks a lot, Dhruva!

[2014-03-22 10:39] #127 closed, assigned to dhruvaray

[2014-03-22 11:06] dhruvaray commented on #121
At this point, I'd love nothing more than a magical PR ;)

Jokes apart, What do you guys think of this?

I set the parent early enough (before the values are assigned to the model or collection). So `parents` would always be guaranteed to be present in `initialize`. Then the `Product` model would look like

[code]

[2014-03-22 14:59] dhruvaray commented on #121
I just made some minor changes to support this scenario. Here's a working [test case](https://github.com/dhruvaray/backbone-associations/commit/1eaa56876e21c85fecc9e1dea9a231c557f153ed#diff-470ce3d8e231803affbdab621a95e1e2R1699) which demonstrates this.

[2014-03-22 17:42] sarink commented on #121
The only issue I have with that solution is that it becomes quite an annoyance if you have to do it for multiple attributes. Also think about the views, how many re-renders must they undergo? What if you're dependent upon a grandparent's property? This gets messy quick.

It just seems like since the information IS actually present beforehand, that it could be done without any change listeners.

[2014-03-23 02:01] fenduru commented on #124
@dhruvaray had a busy week so didn't get a chance to look into this. Thank you so much for doing this though! Much appreciated.

Looked at the test case, and it seems a little bit weird to do

[code]

Inside a test case. Would it make sense to isolate the environment.js test, and have the AssociatedModel tests use Backbone.AssociatedModel and Backbone.Model as they would be used in the wild?

[2014-03-23 05:16] dhruvaray commented on #124
That's because in environment.js, we set Backbone.Model to AssociatedModel to run all Backbone library tests with AssociatedModel. This test case is an exception so that decision needs to be overridden.

[2014-03-23 05:16] #124 closed, assigned to dhruvaray

[2014-03-23 05:33] dhruvaray commented on #121
You would have to make a check for multiple attribute values **even** in  your approach.

That problem(?) does not go away even with the approaches you suggest. If you need to look up two levels, you always have to do that.

The moment a value is  `set` - irrespective - of whether you do it via a change event _OR_ directly (in initialize), who-ever is listening to those changes will get notified/v

[2014-03-23 05:40] dhruvaray commented on #123
@chiplay : I am targeting March 29 to pull in two other features. Just FYI

[2014-03-23 05:49] sarink commented on #121
Multiple attributes = multiple change listeners = multiple changes = multiple renders. If you instead set the value inside parse or initialize, there is no "set" event. The model simply gets instantiated with the value you desire. You can't create a view for a model that doesn't exist yet (and as soon as you create it, it will run initialize, and have the proper value. Nothing will ever see the ol

[2014-03-23 06:30] AoDev commented on #126
Thank for all your work :)

[2014-03-23 07:27] dhruvaray commented on #121
In which case, you can get what you want easily by an override of `parse` on the `Store` model

[code]

[2014-03-23 07:29] sarink commented on #121
We've been over this one... It works, it's just conceptually bad. It's not the Store's job to change the Product's name. That logic ought to live within the Product.

[2014-03-23 07:38] dhruvaray commented on #121
I'm afraid a framework level solution seems to elude me. Please do submit a PR if you find a generic enough approach. I will be glad to take a look

[2014-03-23 09:10] agonbina opened #128 "CRUD in nested(related) models"
Hi, say I have:

[code]

and a User model:

[code]

I am trying to basically create an extra /posts CRUD route, after /users/{id}, but just overriding the url doesn't seem to work.

So basically, I want to be able to do:

[code]

Right now it just does a POST at /posts, which is not what I want to do.
Is this possible at all?

The reason for this is that in the backend route for /users/id/posts ,

[2014-03-23 13:55] dhruvaray commented on #121
This commit gives you exactly what you want... The test case is [here](https://github.com/dhruvaray/backbone-associations/blob/master/test/associated-model.js#L1699-L1750).

It implements suggestion # 3. (The most magical one :)) I am not sure about the side effects on the `validate` method. Any thoughts? Also extra test cases would always be welcome!

[2014-03-23 22:44] sarink commented on #121
What are the potential issues you see regarding `validate`? I don't think I follow

BTW, I think I found a typo in your implementation

[2014-03-24 01:50] dhruvaray commented on #121
We are accessing parent attributes (in the children) before the parent `set`. Consequently, it is possible that the parent `validate` may throw an exception. I am not sure how to handle that in the children when it happens.

Also it appears that `previousAttributes`/`hasChanged` etc may be broken with this change - during the **construction** phase. So `initialize` will not return the right values

[2014-03-24 03:54] jdkanani commented on #128
Try using this one:

[code]

For more details, you can take a look at [this recipe](http://dhruvaray.github.io/backbone-associations/recipes.html#tut-savefetch).

Let me know if you need any help on this issue.

[2014-03-24 04:46] agonbina commented on #128
Thanks for responding. I did try that initially before I switched to the version of the User model in my initial post (ie extending the Posts collection to override the url), and it still does the same.

It works when I try to fetch the collection, ie if I do:

[code]

But if I try any of the other Backbone collection methods it fails. Ex:

[code]

So I am not sure if this is because how Backbone

[2014-03-24 17:18] jdkanani commented on #128
`user.get('posts').sync()` needs  `method` and `model`. Backbone obtains `url` from `model` object. So I think `sync` will definitely fail without arguments.

In your case, Backbone uses `urlRoot` to save newly created `Post` model.

[code]

After that change, `user.get('posts').create({id: 45, content:"Hello"})` will make PUT request.

Let me know if it works for you.

[2014-03-24 22:38] sarink commented on #121
Isn't the `_set` (where the cache is created) only getting called from the constructor? Can you pass `options:{validate:true}`  to the constructor? And by default `validate` only runs on `save` ... Am I missing something?

`previousAttributes/hasChanged` - is the problem with the parent (Store) or child (Product)?

[2014-03-25 09:48] dhruvaray commented on #121
parent - Store. (General case is whenever the cache is used)

[2014-03-25 14:49] sarink commented on #121
If you restrict the cache to only being created in the constructor, before the model has been "set up", you can ensure that nobody has called `validate`. Then, if you delete it after this, you can ensure that `previousAttributes` can't be out of sync.

The only time the cache is used is BEFORE the model has finished `parse` (for the first time), so any `previousAttributes` would obviously just be

[2014-03-27 03:18] dhruvaray commented on #128
Did this work for you?

[2014-03-29 03:55] #128 closed, assigned to jdkanani

[2014-03-31 08:58] flip111 opened #130 "Collections become empty when using collection initialize"
Hi,

I have a one-to-many relation, where i always need one item on the many side. If the server does not have this data (from a previous time) then an empty model should be inserted into the collection. Taken the example from the documentation i try to do this:

[code]

I initialize it like this:

[code]

I couldn't find a related question about collection initialization. Perhaps i'm using the wr

[2014-04-01 03:11] jdkanani commented on #130
You may want to look at issue https://github.com/dhruvaray/backbone-associations/issues/121.

[2014-04-01 05:03] dhruvaray commented on #130
@flip111

Your scenario can be handled easily like this

[code]

[2014-04-01 05:07] dhruvaray commented on #121
Yes... For the constructor case, it will be consistent. But it will break if we try to set a different object graph at a later stage.

[code]

[2014-04-01 07:36] flip111 commented on #130
Hi, thanks for this solution.

Two remarks though.
1. It's not very intuitive because it's now put with a model instead with the collection.
2. Also not really DRY when you want to reuse the collection somewhere.

But for my use case the proposed solution will do. thank you

[2014-04-01 07:36] #130 closed, assigned to dhruvaray

[2014-04-01 14:17] SurendraBorana-GSLab opened #131 "nested-changes event not fire."
Bind the event on model with nested-changes. If dynamically adding property after binding mention event, it is not fire.

[2014-04-01 16:22] dhruvaray commented on #131
Nested-change event is switched off be default on the latest. You need to turn it on explicitly. Can you share a snippet of what you are tring to achieve?

[2014-04-02 00:59] spencercarnage commented on #121
I'm running into an issue where `parents` is only defined in the `initialize` function when I use a `setTimeout` with 0ms on a `Backbone.Many` relationship.

[code]

[Here's a JSFiddle where you can see it in action.](http://jsfiddle.net/spencercarnage/eUntR/2/)

[2014-04-02 01:32] sarink commented on #121
Is this with the latest github source?

[2014-04-02 01:42] spencercarnage commented on #121
The JSFiddle is using `0.6.1` which I'm getting from the CloudFlare cdn, [http://cdnjs.cloudflare.com/ajax/libs/backbone-associations/0.6.1/backbone-associations-min.js](http://cdnjs.cloudflare.com/ajax/libs/backbone-associations/0.6.1/backbone-associations-min.js)

[2014-04-07 10:35] SurendraBorana-GSLab commented on #131
I enable the nested-change event using Backbone.Associations.EVENTS_NC = true;
I created  BackupModel with attribute backupId, backupname, sourceAddress, destinationAddress,...
Created object of BackupModel and bind the all property change event on same.

After backup initialize , some dynamic attribute added like percentage and backup status.
I want to monitor this two attribute change event, but

[2014-04-07 10:37] SurendraBorana-GSLab commented on #131
Please note : percentage and backupStatus not available at the time of creating instance of backup model and binding 'nested-change' event.

[2014-04-07 22:25] willgm commented on #21
I'm using the backbone-associations on a big project, which is already in development for two years, and we are close to the 1.0 version, but we are having trouble to generate the final script bundle file with requirejs, even with the shim configuration there is a "uncaught typeerror: cannot read property 'Model' of undefined". We are having this type of error with all the backbone plugins that do

[2014-04-08 19:01] azaslavsky opened #132 "Relation won't bubble up when using hierarchical path w/ requireJS"
In my app, a user can make multiple "notes," and each note can be tagged.  I store a master list of all tags used in the entire document (across all notes), but each note is an AssociatedModel that needs to keep track of its own tags.  This means that every tag needs to be in two collections simultaneously: the master tag list, and the "tags" AssociatedModel collection of whatever note it is attac

[2014-04-09 03:14] azaslavsky commented on #132
Figured it out.  I needed to set the relations variable on the tag model as well.  This created a problem, because this meant that the tagModel file required the clipModel file, and vice versa, creating a circular dependency and causing requireJS to crash.  The solution:
**models/tag.js**

[code]

This works because require paths stored in a variable are ignored by the requireJS optimizer (http://

[2014-04-09 03:14] #132 closed, assigned to dhruvaray

[2014-04-17 22:13] sarink opened #134 "Polymorphic model problem?"
I've written essentially exactly what is listed in the recipe here: http://dhruvaray.github.io/backbone-associations/recipes.html#tut-pm

except, I am using a `Backbone.One` association, as opposed to a `Backbone.Many`

[code]

I assume this inner anonymous function `return function (attrs, options) { ... }` is basically a proxy for some sort of Factory pattern? So it is now responsible for return

[2014-04-24 12:48] monovertex commented on #74
You should not that this is not a good approach if the developer plans to use the optimizer tool of require.js in the future, because that tool does not take `require` calls inside the modules into consideration.

In my situation I found the only way to go was with a custom global namespace. It cripples a bit the modular approach, but it was the most robust method I found, while also allowing me t

[2014-05-05 15:27] tolbahadi opened #135 "Create sub models at initialization"
Is there an option that allows the associated model to create its sub models/collections at initialization time? I have been using `defaults` object to have it do this but I was sure if this was the best practice or not.

Example:

[code]

Is there a way I can do this without using the defaults object?

[2014-05-06 17:48] ghost opened #136 "Collections not in global scope throwing undefined."
For collections defined as strings, Line 758 in map2Scope returns target, but if the target is defined using scopes (ie appears in scopes[i] where i> 0) target can be undefined.

I think the fix is:
if (typeof target !== "undefined" && target) break;

FYI
Thanks for a great library.  Martin.

[2014-05-14 13:28] dhruvaray commented on #136
@mrcfisher  : Thanks for the appreciation!

It would be nice if you can submit a PR with the fix and the test case. I will be more than happy to merge!

[2014-05-14 13:33] dhruvaray commented on #135
What you have done is ok. You can also pass in empty or non-empty sub-models/collections too.

[code]

[2014-05-14 13:35] dhruvaray commented on #131
Can you please create a jsfiddle so I can take a look at the issue?

[2014-05-14 14:06] dhruvaray commented on #134
You would write it like this :

[code]

[2014-05-14 17:22] chiplay opened #137 "Associated Model's 'get' method and 0 val"
Hey @dhruvaray!

Hope all is well.  Quick question for you - the 0.6.1 [get() fn](https://github.com/dhruvaray/backbone-associations/blob/v0.6.1/backbone-associations.js#L170) for the associated model looks like this:

[code]

I'm running into an issue where our mutated property is returning a '0' value and therefor 'obj' above is falsy and the this._getAttr circumvents bb.mutators and retrieves a

[2014-05-16 12:34] dhruvaray commented on #137
Hey @chiplay! Thank you. I am doing well. You are right. We should check explicitly for being null/undefined. Do you want to submit a PR? I will be happy to merge. The changes on the trunk are for some additional bits of functionality and are orthogonal to what you have raised.

[2014-05-22 09:22] toytonic opened #138 "Change Event for nested collection not triggered"
Hi,
first of all thanks for your great plugin.

I am currently having problems with an associated model having a nested collection. So far I don't get any change event when the whole collection is changed or replaced. Could well be that I am following a wrong practice, so I am happy if you point me in the right direction.

I created a jsFiddle to demonstration: http://jsfiddle.net/CucbF/

Thanks f

[2014-05-29 13:07] fidanov opened #140 "Unknown / Missing parents(reverse relations) when model part of several collection."
In `Backbone.Many` relation the reverse relation is set on the collection. So for a model inside the collection, to find the parents needs to `model.collection.parents`. However, if this model is part of two collections simultaneously this doesn't work, as `model.collection` contains only the first collection the model was associated to.

Is there some nice way to avoid this situation, or maybe we

[2014-06-09 13:39] dhruvaray commented on #140
I agonized about this for a long time. But I left it as it is a limitation in Backbone as well. (model.collection vs model.collections). If you have any ideas to solve it, I would love to hear from you in form of a PR.

[2014-06-14 06:50] toytonic commented on #138
Hi, did you have a chance to look into the fiddle I provided?

Would be appreciated a lot ;)

[2014-06-21 10:59] Timopheym opened #141 "Finding nested model by id"
I have a question about finding model. Can't find answer in SA and documentation. Is there ideas about it?
http://stackoverflow.com/questions/24302604/finding-model-by-id-in-backbone-associations-js

[2014-06-28 17:41] dhruvaray commented on #137
Fixed via 8b4a41f378a5f753191f401eea25740f1979803f & 33d4d554e13b4a3c2bb9a5c8dae65c0635403299

Let me know if this works for you.

[2014-06-28 17:41] #134 closed, assigned to dhruvaray

[2014-06-28 17:42] #135 closed, assigned to dhruvaray

[2014-06-28 17:43] #140 closed, assigned to dhruvaray

[2014-06-28 17:44] #136 closed, assigned to dhruvaray

[2014-06-29 00:51] dhruvaray commented on #138
@toytonic : Apologies for the delay in response. See issue #67 and #31 for background on why we don't create a fresh instance of a collection on replace.

A modified version of your fiddle is [here](http://jsfiddle.net/dhruvaray/qpmXR/).

The gist is:

The `change:locations` fires for the first time because there is nothing assigned to the collection. The next time you `set` a different collection

[2014-06-29 01:05] dhruvaray commented on #141
BB-Associations has no store. You can get what you want to achieve like this

[code]

[2014-06-29 01:05] #131 closed, assigned to dhruvaray

[2014-06-29 01:06] dhruvaray commented on #121
@spencercarnage : This should work on the master or the upcoming 0.6.2 release.

[2014-06-29 01:06] #121 closed, assigned to dhruvaray

[2014-06-29 01:40] atomictag opened #142 "Custom events triggered by models inside a collection"
I am having some troubles in getting custom events (= issued with `model.trigger(...)`) from models inside a collection to fire with the expected event path. The scenario is very simple: an AssociatedModel contains a collection, the collection contains only one model and a custom event is triggered by that model. Just like change events are in the form `change:<collection_key>[model_index]`I would

[2014-06-29 03:33] dhruvaray commented on #142
@atomictag : Thanks! And hello again :)

Typically when you do this, you need to specify trigger arguments. This will tell BB-Associations which element of the collection has changed. Without this info, it is impossible to compute the index of the collection which has triggered the change. So your trigger code should change to  look like

[code]

The behavior is same for BB events like `add`, `rem

[2014-06-29 14:40] atomictag commented on #142
Thanks for that. I should have thought about the symmetry with 'add', 'remove' etc. - where it all makes sense. However I find this less intuitive with custom events or built-in events like 'sync' - which, for example, gets triggered when a collection is fetched as well as when each of its instance models is fetched. `sync:collection[0]` would make the event unambiguous (`sync` here is clearly tri

[2014-06-30 04:18] dhruvaray commented on #142
This can be easily made into a user-configurable entity. For example, if you want that behavior for custom_event, change [line](https://github.com/dhruvaray/backbone-associations/blob/master/backbone-associations.js#L381) to eventType === "change" || "custom_event". Also, don't forget to throw the object which has triggered the custom event in the collection.

[code]

[2014-06-30 10:33] toytonic commented on #138
No problem and thanks for your answer. Makes total sense to me.

[2014-06-30 10:33] #138 closed, assigned to dhruvaray

[2014-06-30 10:44] atomictag commented on #142
Great, thanks for the tip!

I would advance the suggestion that the default behaviour could be extended to support `sync` (which by contract has the object which triggered the sync event as first parameter) alongside `change` as it is right now. Custom events are relatively less frequently used than the BB built-in ones - and I see a good case for `sync` events to use the fully-qualified path of t

[2014-06-30 10:44] #142 closed, assigned to dhruvaray

[2014-06-30 12:08] dhruvaray commented on #142
Thanks! Yes... Tagging this as an enhancement for sync as well as the possibility of users defining the behavior for custom event paths externally.

[2014-06-30 12:10] dhruvaray commented on #123
@chiplay : Finally out!

[2014-07-02 02:15] #141 closed, assigned to dhruvaray

[2014-07-02 02:16] #51 closed, assigned to dhruvaray

[2014-07-04 02:21] dhruvaray commented on #137
This fix is part of 0.6.2. Closing...Please reopen if it does not yet work for you

[2014-07-04 02:21] #137 closed, assigned to dhruvaray

[2014-07-11 07:52] Muon opened #143 "Setting same fires remove/add/sort"
Setting the same contents fires events even if nothing has changed, see fiddle for example: http://jsfiddle.net/xNWUM/1/

[2014-07-11 13:20] Muon commented on #143
Hmm, this seems to be tied to the `id` attribute. Two models seems only seem to be considered same if they have the same `id`.

[2014-07-12 01:02] dhruvaray commented on #143
This is in line with Backbone behavior. We use Backbone's smart `set` method internally for 1:M relations.(all working on id)

From Backbone documentation

This internally calls add/remove/sort. Search for _addReference, _removeReference in  http://backbonejs.org/docs/backbone.html

[2014-07-12 04:25] Muon commented on #143
Hmm, that's awkward. So what should I do if my data is just... data? Just give them arbitrary different ids?

[2014-07-17 11:34] soswow opened #144 "Different keys for lookup and relation referencing"
I am thinking about similar attributes Relational has `key` and `keySource`
This perfectly matched our data/server communication before.

Example. Here is project object

[code]

And this is task:

[code]

`pid` - is id of a project this task belongs to. So I naturally do something like this

[code]

But now, I can access project from Task only by `task.get('pid')` - But this is wrong. pid is Proj

[2014-07-17 11:41] soswow commented on #144
Don't know if this is should be requested here, but ...
In the example above, when we want to store Task back to the server, we want to send information about project it belongs to. And this is also defined with `pid` property.
Right now I can define `serialize: ['id']`, but this will make

[code]

which is not what I wanted =\ I thought what if `serialize` could be not only Array, but a string al

[2014-07-17 12:04] soswow commented on #144
Something like this would work maybe?

[code]

And now my relation definition looks like

[code]

In result. I get project on `.get('project')` I get id on `.get('pid')` and this id still in the JSON response

Looks like if I set new project `task.set 'pid', 'test2'` it also works well.

[2014-07-22 00:53] chiplay opened #145 "Updating to 0.6.2: _proxyCallback issues"
I'm trying to get our app up to date with the latest changes to 0.6.2 but I'm running into one issue.  The `if(!relationValue._proxyCallback) {` check that happens on line 355 is preventing some of my nested models from bubbling correctly to their parents.  The issue arrises when there is already a relationship established with one parent, then a second parent also wishes to relate to to the same

[2014-07-22 01:06] chiplay commented on #145
Here's an attempt at some sudo code for the issue:

[code]

Create some instances:

[code]

And some listeners:

[code]

Now when we have an event - `foo.set({ name: 'John' });` - only `bar` bubbles the event from `foo` because the _proxyCallback method on `foo` has the relationKey `foo_a` in its closure.

All that said - I'm not sure I have a solution for registering mulitple _proxyCallbacks for

[2014-07-22 14:28] chiplay commented on #145
Hey @dhruvaray - I think I've got a working solution - I'm a bit crunched for time this week, but let me know if you need a proper PR for this:

Line 351:

[code]

Line 367:

[code]

Line 479:

[code]

Line 661:

[code]

[2014-07-24 21:05] chiplay commented on #145
@jdkanani any thoughts on this problem / solution?

[2014-07-25 05:54] jdkanani commented on #145
Hey @chiplay, solution looks promising. I think you should go ahead with primary pull request. So we can try it out at our end.

@dhruvaray  what do you think?

[2014-07-27 14:56] chiplay commented on #145
@jdkanani @dhruvaray PR is up: https://github.com/dhruvaray/backbone-associations/pull/146 - closing this ticket and we can continue discuss there.

[2014-07-27 14:56] #145 closed, assigned to nobody

[2014-08-12 16:28] steelsojka opened #147 "Mapping models and collections from fetch calls parse when it should not."
[code]

When backbone-associations calls `set` when creating the EntityCollection with the key of `entities` it passes the options from the `fetch` which Backbone automatically sets the `parse` option to true which calls the parse function when setting the collection. In this case this would throw an `undefined` error since parse is getting called with just the array.

I'm not sure if this is a Ba

[2014-08-12 16:40] steelsojka commented on #147
After digging through the source code, I realized I can add options onto the relation. I'll try this and see if it works.

[2014-08-12 18:01] steelsojka commented on #147
My above comment did not work since the options passed in override relation options :(

[2014-08-12 18:21] steelsojka commented on #147
The problem is that passed in options still override relation options. https://github.com/dhruvaray/backbone-associations/blob/master/backbone-associations.js#L271

Should this be the other way around?

[2014-09-16 14:54] michaelcarter opened #148 "Preventing associated models from being reinstantiated when set with updated data"
From the documentation:

Unfortunately the example listed on that page uses backbone's default `idAttribute`, which is just `id`. Do you have any examples of this working using another idAttribute?

Basically, I'm trying to stop all of my local associated model `Vehicle` from being reinstantiated whenever its parent `User` is reset from our server. It's causing huge headaches because we're losing

[2014-09-16 21:12] jameslai opened #149 "Relational sibling references"
Given this structure, is it possible for the referenced fruit models on Salads (within the `contains` container) to be references to the fruits themselves?

[code]

I may be thinking of the problem incorrectly, but so far I've been unable to create a nice relational model. Let's start with a simple association definition:

[code]

In this scenario, `food.get("fruit").get("1").get("name")` will ret

[2014-09-18 15:27] michaelcarter commented on #148
Just a quick update here, we've upgraded to the latest backbone-associations version and this issue has rectified itself, although previously we were using `0.5.5`, which according to the documentation should have worked just fine.

[2014-09-18 15:27] #148 closed, assigned to nobody

[2014-09-22 17:02] #149 closed, assigned to nobody

[2014-09-23 03:54] rickgn opened #150 "Reverse relations not working when populating object from JSON"
I'm not sure if this is a question, but or feature request.   I have been using BackboneRelational for about a year now. I frequently deeply nested relations with reverse relations.  I wanted to try Associations due to many cool features over Relational but I hit a brick wall when I encountered this one:

If I have some JSON:

[code]

To configure this I would use:

[code]

So far so good.  I can

[2014-09-23 20:41] jameslai commented on #150
I believe you can accomplish your goal without worrying about starting the parent/child relationship in your ChildModel (leave it basically empty). You can access the child's parent via `childobj.collection.parents`.

[2014-09-24 01:11] rickgn commented on #150
Thanks for your reply.
I looked at that as one potential option.  Question:  Is this a reliable way for the associations to work?  Are there any cases where it might not?

However, this solution means custom code / functions every time when what I really wanted was simple bi-directional relations.   I suppose I could bake this into my own abstract class that extends AssociatedModel:

[code]

But t

[2014-09-26 10:01] ghhamza commented on #28
I just test your last fiddle example using "nested-change" event and it does not work (i use v0.6.2)

[2014-09-30 13:57] gfrivolt opened #151 "Cloning populates the attributes from json which can contain remoteKey"
Probably there is a reason for this implementation, but in case of a relation with a remoteKey the cloned model is not going to have the same attributes as the original.

[code]

Also if toJSON is overridden for whatever reason, this clone method does not help. What's the reason to have this cloning instead of the Backbone's clone?

[2014-10-10 16:48] artemrizhov opened #152 "Problem with the relational terminology"
Hi! I'm looking for a Backbone plugin that adds a method to work with relations. And I was surprised and confused when reading your project documentation. Could you please help me to understand how this works?

The project home page says:

You provide two types of relations: `Backbone.One` and `Backbone.Many`, so I assume they are 1:1 and 1:N respectively. Let's see the examples:

[code]

This pro

[2014-11-03 08:23] atomictag commented on #55
[oneoverzero](http://www.oneoverzero.net) uses backbone.associations on many web projects.
Two mobile apps recently added to the portfolio: [Credit Suisse VIVA](https://play.google.com/store/apps/details?id=com.creditsuisse.viva) and [Cornèrcard Mobile](https://play.google.com/store/apps/details?id=com.CornerCard) (available for both iOS and Android)

[2014-11-04 19:02] jnwng commented on #55
at [Coursera](coursera.org), we're using backbone-associations pretty extensively for our new on-demand platform, an example of which you can find [here](coursera.org/learn/childnutrition)

[2014-11-05 03:19] jdkanani commented on #55
@atomictag and @jnwng  Wow! That's awesome :+1:

[2014-11-23 06:40] pascalpp commented on #55
At [about.me](http://about.me) we're in the midst of rewriting our core product using Marionette and Backbone Associations. Really liking it and can't wait to launch it. We've hit a snag though, regarding previous model attributes getting obliterated by fetching data on the parent model. I've posted a reduction of the issue at http://stackoverflow.com/questions/27086259/merge-attributes-when-using

[2014-12-01 17:52] MichaelMackus opened #154 "Empty parents array"
I'm having some troubles getting reverse relations working at all with backbone-associations. Currently I'm rolling my own reverse relations but this is getting tiresome & difficult to maintain.

In the documentation, there seems to be a 'parents' array that refers to the parent models. Is there something I'm doing wrong in [this fiddle](http://jsfiddle.net/fs8whj6o/2/)? If you check the console i

[2014-12-03 00:18] jameslai commented on #154
Because `Location` is being populated using `Backbone.Many`, its parent is technically a collection. What you're actually then looking for is its collection's parent, therefore use this:

`project.get("locations").first().collection.parents`

[2014-12-03 00:37] MichaelMackus commented on #154
Thanks for the reply! That actually works with the default setup almost perfectly.

However, for my use case, I'm actually looking to implement something like [this](http://jsfiddle.net/fs8whj6o/3/). Any ideas on how that would be done?

Currently I'm tracking the parents array manually and its mostly working but it has a few bugs. I'm open to ideas, and currently am using a custom map function to

[2014-12-03 01:12] MichaelMackus commented on #154
If anybody else is having this issue I think I figured out a fairly elegant [solution](http://jsfiddle.net/fs8whj6o/4/) to the issue.

@jameslai if you have any input on a better way that would be welcome otherwise feel free to close!

[2014-12-11 03:49] vinnymac commented on #144
I ran into a similar situation. Without modifying Backbone Associations, you could do this more easily. In your original example you wrote this:

[code]

You could do the following to get your desired result without any modifications to the lib.

[code]

[2014-12-11 04:37] vinnymac commented on #152
The relations are a bit different. 1:1 is referring to employee:manager, and 1:N is referring to project:locations. In Backbone Associations when you want to create a one to one relation, you create a Backbone.One relation on a single model which relates to a another model. If you then decide to create the opposite relation on that model, you have created a cyclical relationship. Locations don't h

[2014-12-11 13:11] artemrizhov commented on #152
Well, maybe the examples is not clear enough for me. Project and locations make as much sense as "foo" and "bar". I don't understand why project has many locations, why location can't have many project, and how many employes the manager has. Maybe the examples would be much more clear if you use City, Country and ZipCode, i.e. something that all of us can understand without doubts.

[2014-12-11 13:14] artemrizhov commented on #152
What is the relation between employe and manager in your examples?

[2014-12-26 14:32] swhamilton opened #155 "Question: Best way to listen for changes on deep nested objects."
I need similar functionality to what Backbone-nested provides. I need to listen to an event change on a deep nested object, but I don't really need the extra features that backbone-associated offers.

data from server:

[code]

I would listen to the change event on the photo.profile and photo.team object, which are simple models:

[code]

Is there a simple way to achieve this with backbone-associa

[2015-01-16 18:38] jameslai commented on #155
Yes, you can listen for `nested-change` events on the parent model as long as you set `Backbone.Associations.EVENTS_NC` to `true`. There is a bit of documentation for this on the [events documentation](Backbone.Associations.EVENTS_NC = true) page.

[2015-01-23 21:36] MichaelMackus commented on #154
@jameslai I'm trying to rewrite my custom solution to use the default reverse relation setup, but I'm running into an issue when using a custom map function:

http://jsfiddle.net/fs8whj6o/7/

The first console.log call should output the parents array, right? Is this a bug? I'm looking into the backbone-association code itself and if I figure out the problem I'll post a PR, but first just want to c

[2015-01-23 21:49] jameslai commented on #154
I'm not sure if the means you were adding `locations` was intentional, but I wouldn't advise adding items in such a way. That said, the content of your `map` wasn't valid without `locations` being present any longer. Could you clarify your intent with that method?

http://jsfiddle.net/fs8whj6o/8/

[2015-01-26 17:20] MichaelMackus commented on #154
@jameslai I'm not sure what the question is exactly, but my use of the map function in my app is to fetch relations using IDs since the parent/child collections are fetched asynchronously and not made aware of each other during initial load of the page. Furthermore these collections have standalone objects that are simply interacted with in the UI via their relationships.

Maybe it would help to c

[2015-01-28 14:34] bazineta opened #156 "0.6.1 -> 0.6.2 problem, nested AssociatedModels"
I have an object graph as so:

[code]

Under the 0.6.1 release, the model (C) has parents.length = 1 after a fetch of (A).
Under the 0.6.2 release, the model (C) has parents.length = 0 after a fetch of (A).

Under both releases, the collections (C) have parents.length = 1 after a fetch of (A).

Have been trying to trace this, and I believe it to be caused by the 'eager' parents setting change in 0

[2015-02-13 16:01] bazineta commented on #156
We've since moved away from Associations.  Closing.

[2015-02-13 16:01] #156 closed, assigned to nobody

[2015-02-18 14:54] rstudner opened #157 "Load Order if not using requirejs / tech like that"
So, new to using backbone associations but i'm sure i'm stumbling on 'rookie problem #1'

Basically, I have to specify models in _precisely the right order_ or I can use relatedModel (for things that aren't defined on the page yet).

Basically does this mean -- until I can get a giant legacy app converted over to requirejs/browserify or something -- that I have to make a single backboneModels.js f

[2015-02-19 16:59] RomanKapitonov opened #158 "Alive?"
Just wondering whether the library is alive. Last changes were made 8 months ago.

[2015-02-19 18:45] sentientnebula commented on #158
The original author seem to have abandoned all his projects.  I don't think he has even logged in to github in the past 8 months.  Hopefully a new maintainer will step up.  It would be a shame to see this project die.  It's light-weight, works well, and is quite widely used.

Maybe jdkanani will be interested.  He's made the 2nd most  contributions to the project, is still active on github.

[2015-03-10 07:22] sandermarechal opened #159 "No bubbling when creating a collection"
Event bubbling does not seem to be working when filling in a collection. For instance, I have these models:

[code]

Now I load (or fetch) a new ParentCollection. I would like to listen to the `add` event so I can respond to each new ChildModel that is created but it seems these events are not bubbled up:

[code]

This only shows `add` events that are triggered on the ParentCollection, but no even

[2015-03-17 16:32] theoephraim commented on #55
Using it heavily on our booking platform at http://breather.com :+1:

[2015-03-26 16:15] cadencelabs-master opened #160 "Merge Only In Deep-Nested Objects"
Let's say I've got an object with the below structure (in toJSON):
order: {
   item: {
       product: {
         name: "foo"
       }
  }
}

Sometimes I may want to return response data from the server to update the name of the product BUT NOT to completely reinitialize it. As it stands currently, if I send back any information for "item" it is completely reset as if it were a new model. Is there

[2015-04-29 22:48] tjwebb commented on #158
:(

[2015-05-23 10:33] azaslavsky opened #161 "Support for nested property checking in .has() method"
I'd like to be able to do this:

[code]

Currently this fails.  It would be great to be able to perform this check!

[2015-05-25 15:50] davvdg opened #162 "How to use backbone-associations in browserify ?"
Hi !

I can't figure out how to use backbone-association in browserify.

I tried:
 var Backbone = require("backbone");
 var Association = require("backbone-associations");
var MyModel = Backbone.AssociatedModel.extend({
...
});

but the browser crashed saying

Uncaught RangeError: Maximum call stack size exceeded

and effectively, the call stack looks like:
Backbone.AssociatedModel.Backbone.Associ

[2015-06-09 15:35] skysteve commented on #162
Not sure if you've solved it by now but I'm doing the following

[code]

[2015-10-28 16:45] jameslai commented on #162
Backbone Associations already works with Browserify and Webpack. There is a cyclic dependency somewhere in your code.

[2015-10-28 16:46] jameslai commented on #157
Yes.

[2015-11-29 01:44] newtonianb opened #163 "Cannot get Backbone.Self to work"
http://jsbin.com/zunoniwuca/1/edit?html,output

My parent_id is never resolved to my object, what am I doing wrong?

I have a simple collection of models and each model has a **Backbone.One** that points to another model of the same type. The example is pretty straight forward but it just doesn't work and I cannot figure out why. I had the similar setup with backbone relational working but it's ju

[2016-01-15 07:46] #162 closed, assigned to dhruvaray

[2016-01-15 07:48] dhruvaray commented on #158
Been very busy on some of my other projects... Would be happy to have a maintainer for this project. IMO, the library is feature complete for its intended use.

[2016-01-15 07:48] #157 closed, assigned to dhruvaray

[2016-01-15 07:53] dhruvaray commented on #152
@artemrizhov  : Please look at the ER diagram provided with the help for the relationships http://dhruvaray.github.io/backbone-associations/docs/img/cd_example.png

[2016-01-15 12:18] artemrizhov commented on #152
@dhruvaray Thanks for the diagram. It is helpful. If so, I have to say that imo the example provided is very confusing. I'm still in doubt.
1. Project may have many locations, but location can not have many projects. How do you imagine this? What kind of projects the example is about? What is the location?
2. How do you locate a department in few locations?
3. Individual manager for each employee?

[2016-05-20 14:52] cstaikos opened #164 "Nested backbone model gets assigned parent collection"
Hi there - here's my situation:

I have a collection of **Model A**s. **Model A** has, among other things, a 1:1 relationship with **Model B**.

There are instances where **Model B** would be part of a collection, and other instances where it is simply a single nest model within a parent **Model A**.

As such, we are setting **Model B**'s url differently if it's a part of a collection or not.

The

[2016-06-06 14:52] jtakalai opened #165 "lodash 4 compatibility"
Hi,

_setAttr relies on third "context" argument to _.each

This is deprecated in lodash, and the response from there isn't very empathic. Their changelog https://github.com/lodash/lodash/wiki/Changelog#v400 says you could rewrite

[code]

into

[code]

This would enable using lodash with backbone-associations.

[2016-06-14 12:41] dhruvaray commented on #152
I think you are reading the diagram wrong...

[2016-06-14 12:43] #152 closed, assigned to dhruvaray

[2016-08-30 14:38] glennscottrocks opened #167 "Backbone supports options.context for success callbacks"
Backbone has undergone some changes that are not properly reflected within the Backbone-Associations library.

Places within the Backbone-Associations codebase where success callbacks are overridden need to be updated to match Backbone's support to pass a context property to control the scope of the success method.

Existing occurrences:

[code]

should be updated to:

[code]

[2016-09-22 07:58] dhruvaray commented on #167
Would you kind enough to raise a PR?

[2016-11-12 03:43] gmcdowell opened #168 "Model Inheritance & Polymorphism"
Hi,

I'm trying to employ inheritance over 3 levels for Models that I use in a `LogCollection` (polymorphism) and have been attempting to use AssociatedModel for the top level model `BaseLog` and then extend/specialise to suit my needs:

[code]

The `BaseLog` has a Backbone.Many relation property of `vehicles` and when run the related `vehicles` collection is present in the `BaseLog` as you would

[2017-06-06 09:43] fqxp commented on #151
A workaround that worked for me is:

    new MyModel(otherModel.attributes)

[2017-12-23 10:01] dorianrod opened #170 "Events behaviour with ListenTo different with On"
Hello,
It seems that "listenTo" doesnt have the same behaviour as "on".

My code:
`
var Model3 = Backbone.AssociatedModel.extend({});
var Model1 = Backbone.AssociatedModel.extend({});
var Model2 = Backbone.AssociatedModel.extend({
	relations: [
		{key: 'm1', relatedModel: Model1, type: 'One'}
	]
});
`
With listento:
`m.listenTo(m2, 'change:m1.bla', ()=>{
	console.log("bla");
});
m.listenTo(m2, 'ch

[2018-05-22 18:44] mikemajara commented on #80
I found this problem persists in the latest version (0.6.2). I did not inspect the code thoroughly, but I see the line commited to fix this error changed. get the following error when my Model lacks an key named 'id'. Even when idAttribute is set. If I set both 'id' and idAttribute, I still get the error.

[code]

**EDIT**:
Actually, the problem seems to be in the _set method itself. When changed

[2019-09-10 22:52] jhwohlgemuth commented on #158
@dhruvaray I would be interested in maintaining this repo. I have used it for a while and have something of a vested interest in it. Would you entertain giving me owner privileges? Check me out on Github and feel free to DM me on twitter (I followed you toward that end). Either way, thanks for the effort so far!

[2019-10-04 13:43] jhwohlgemuth commented on #158
@dhruvaray Specifically, I would like to update this library to be compatible with lodash v4, update the testing apparatus (phantomjs -> jest/karma/something), and add code standards with ESLint. But it looks like I will need to fork this repo...

Either way, this library has been well used and all the work that went into it is greatly appreciated! Thank you.